# 🔖五、综合案例实战

# 实战一：开始了解你的数据
## 探索Chipotle快餐数据

### 步骤1 导入必要的库

In [5]:
import pandas as pd

### 步骤2 从如下地址导入数据集

In [9]:
file_path = '/home/mw/input/Pandas_exercise2020/chipotle.tsv'


### 步骤3 将数据集存入一个名为chipo的数据框内

- TSV文件和CSV的文件的区别是：前者使用\t作为分隔符，后者使用,作为分隔符。
    - data = pd.read_csv('test.tsv', sep='\t')
    - 如果已有表头，则可使用header参数：
        - data = pd.read_csv('test.tsv', sep='\t', header=0)
    - 如果已有主键列:
        - data = pd.read_csv('test.tsv', sep='\t', header=0, index_col='id')
- 借鉴资料：
    - https://blog.csdn.net/zgljl2012/article/details/79109525

In [10]:
chipo = pd.read_csv(file_path, sep = '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4596,1826,1,Chips and Guacamole,NaN,$4.45
4597,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,1826,1,Bottled Water,NaN,$1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,1827,1,Chips and Guacamole,NaN,$4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,1828,1,Chips and Guacamole,NaN,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### 步骤4 查看前10行内容

In [11]:
chipo.head(10) #tail(10):后10行

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 步骤6 数据集中有多少个列

- 查看列数：
    - len(chipo.columns)
    - chipo.info()
    - chipo.shape[1]
- 查看行数：
    - len(chipo)
    - chipo.shape[0]

In [12]:
#方法一
len(chipo.columns)
#方法二：
chipo.shape[1]

5

### 步骤7 打印出全部的列名称

In [6]:
chipo.columns #若输出列表：chipo.columns.values; chipo.columns.tolist();list(chipo)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [7]:
list(chipo)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### 步骤8 数据集的索引是怎样的

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### 步骤9 被下单最多商品(item)是什么

In [9]:
#方法一：
chipo[['item_name', 'quantity']].groupby('item_name').sum().sort_values(by='quantity', ascending=False).head(1)

              quantity
item_name
Chicken Bowl       761

In [10]:
#方法二：
pd.DataFrame(chipo[['item_name', 'quantity']].groupby('item_name').sum().sort_values(by='quantity', ascending=False).iloc[0,:])

          Chicken Bowl
quantity           761

In [11]:
#方法三：分组后采用agg函数求和，多个函数agg({'quantity':['sum', 'mean']})
#相关资料：https://blog.csdn.net/weixin_45144170/article/details/105008350
chipo[['item_name', 'quantity']].groupby('item_name').agg({'quantity':'sum'}).sort_values(by='quantity', ascending=False).head(1)

              quantity
item_name
Chicken Bowl       761

### 步骤10 在item_name这一列中，一共有多少种商品被下单？

- pandas 之unique()函数与nunique()函数区别：
    - （1）unique()是以数组形式（numpy.ndarray）返回所选列的所有唯一值（特征的所有唯一值）:
    - （2）nunique() 返回的是唯一值的个数；
        - chipo['item_name'].nunique()
        - 等同于用法：len(len(chipo['item_name'].unique()))
- 相关资料：
    - https://blog.csdn.net/w_shuo/article/details/109285325

In [12]:
#方法一：
len(chipo['item_name'].unique())
#方法二：
len(chipo.groupby('item_name'))
#方法三：
chipo['item_name'].nunique()

50

### 步骤11 在choice_description中，下单次数最多的商品是什么？

In [13]:
chipo[['choice_description', 'order_id']].groupby('choice_description').count().sort_values(by='order_id', ascending=False).head(1)

                    order_id
choice_description
[Diet Coke]              134

### 步骤12 一共有多少商品被下单

In [14]:
chipo['quantity'].sum()

4972

### 步骤13 将item_price转换为浮点数

- 转换浮点数：
    - 法一：astype()
    - 法二：apply(lambda x : folat(x[1:]))

In [15]:
#方法一：
chipo['item_price'] = chipo['item_price'].str.strip('$').astype('float')
chipo['item_price']
#方法二：
#chipo['item_price'] = chipo['item_price'].apply(lambda x : float(x[1:]))

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
5       10.98
6        1.69
7       11.75
8        9.25
9        9.25
10       4.45
11       8.75
12       8.75
13      11.25
14       4.45
15       2.39
16       8.49
17       8.49
18       2.18
19       8.75
20       4.45
21       8.99
22       3.39
23      10.98
24       3.39
25       2.39
26       8.49
27       8.99
28       1.09
29       8.49
        ...
4592    11.75
4593    11.75
4594    11.75
4595     8.75
4596     4.45
4597     1.25
4598     1.50
4599     8.75
4600     4.45
4601     1.25
4602     9.25
4603     9.25
4604     8.75
4605     4.45
4606     1.25
4607    11.75
4608    11.25
4609     1.25
4610    11.75
4611    11.25
4612     9.25
4613     2.15
4614     1.50
4615     8.75
4616     4.45
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

### 步骤14 在该数据集对应的时期内，收入(revenue)是多少?

In [16]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print("收入(revenue):{}".format(revenue))

收入(revenue):39237.02

### 步骤15 在该数据集对应的时期内，一共有多少订单？

In [17]:
#方法一：
len(chipo['order_id'].unique())
#方法二：
chipo['order_id'].nunique()

1834

### 步骤16 每一单(order)对应的平均总价是多少？

In [18]:
#先算出小单总价，然后再计算每一订单的均价
chipo['item_price_sum'] = chipo['quantity'] * chipo['item_price']
chipo[['order_id', 'item_price_sum']].groupby('order_id').mean()

          item_price_sum
order_id
1               2.890000
2              33.960000
3               6.335000
4              10.500000
5               6.850000
6               8.750000
7               7.850000
8               5.440000
9               6.425000
10              6.600000
11              6.190000
12              7.185000
13              5.440000
14              5.040000
15              5.440000
16              5.340000
17              5.040000
18              6.225000
19              6.950000
20              9.050000
21              7.786667
22              6.490000
23              6.675000
24              6.035000
25              5.690000
26             10.250000
27              6.950000
28              8.425000
29              8.990000
30              7.786667
...                  ...
1805           10.000000
1806            3.250000
1807            9.320000
1808            6.850000
1809            4.816667
1810           11.500000
1811            9.750000
1812            8.333333
1813           35.000000
1814            6.850000
1815            6.250000
1816            6.600000
1817            3.250000
1818            9.070000
1819            6.600000
1820            6.250000
1821            6.850000
1822            8.666667
1823            4.050000
1824            8.983333
1825           11.083333
1826            3.987500
1827            6.590000
1828            4.816667
1829            8.083333
1830           11.500000
1831            4.300000
1832            6.600000
1833           11.750000
1834            9.583333

[1834 rows x 1 columns]

### 步骤17 一共有多少种不同的商品被售出？

In [19]:
chipo['item_name'].nunique()

50

# 实战二：数据过滤与排序
## 探索2012欧洲杯数据

### 步骤1 导入必要的库

In [20]:
import pandas as pd

### 步骤2 从以下地址导入数据集

In [11]:
filepath2 = '/home/mw/input/Pandas_exercise2020/Euro2012.csv'

### 步骤3 将数据集命名为euro12

In [22]:
euro12 = pd.read_csv(filepath2, sep=',')
euro12

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

### 步骤4 只选取Goals这一列

In [23]:
euro12[['Goals']]

    Goals
0       4
1       4
2       4
3       5
4       3
5      10
6       5
7       6
8       2
9       2
10      6
11      1
12      5
13     12
14      5
15      2

### 步骤5 有多少球队参与了2012欧洲杯？

In [24]:
#方法一：
euro12['Team'].nunique()
#方法二:
len(euro12['Team'].unique())
#方法三：
len(euro12.groupby('Team'))

16

### 步骤6 该数据集中一共有多少列(columns)？

In [25]:
#法一:
len(euro12.columns)
#法二：
euro12.shape[1]

35

### 步骤7 将数据集中的列Team，Yellow Cards和Red Cards单独存为一个名叫discipline的数据框

In [26]:
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

### 步骤8 对数据框discipline按照先Red Cards，再Yellow Cards进行排序

In [27]:
discipline.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=True)

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
12               Russia             6          0
1        Czech Republic             7          0
14               Sweden             7          0
0               Croatia             9          0
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0
11  Republic of Ireland             6          1
9                Poland             7          1
6                Greece             9          1

### 步骤9 计算每个球队拿到的黄牌数的平均值

In [28]:
discipline[['Team', 'Yellow Cards']].groupby('Team').mean()

                     Yellow Cards
Team
Croatia                         9
Czech Republic                  7
Denmark                         4
England                         5
France                          6
Germany                         4
Greece                          9
Italy                          16
Netherlands                     5
Poland                          7
Portugal                       12
Republic of Ireland             6
Russia                          6
Spain                          11
Sweden                          7
Ukraine                         5

### 步骤10 找到进球数Goals超过6的球队数据

In [29]:
euro12[euro12['Goals'] > 6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

### 步骤11 选取以字母G开头的球队数据

- Pandas提取含有指定字符串的行或列:
    - 完全匹配：
        - ==
    - 部分匹配:
        - str.contains()：包含一个特定的字符串
            - 参数na：缺少值NaN处理
            - 参数case：大小写的处理
            - 参数regex：使用正则表达式模式
        - str.endswith()：以特定字符串结尾
        - str.startswith()：以特定的字符串开头
        - str.match()：匹配正则表达式模式
        - 注：要提取部分匹配的行，可以使用pandas的（str.xxx（））方法，根据指定条件提取的字符串方法。
- 相关资料：https://blog.csdn.net/nixiang_888/article/details/109371043

In [30]:
euro12[euro12['Team'].str.startswith('G')]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

### 步骤12 选取前7列

In [31]:
euro12.iloc[:,:7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

### 步骤13 选取除了最后三列之外的全部列

In [32]:
euro12.iloc[:,:-3]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

### 步骤14 找到英格兰(England)、意大利(Italy)和俄罗斯(Russia)的射正率(Shooting Accuracy)

In [33]:
#方法一：
euro12[euro12['Team'].isin(['England', 'Italy', 'Russia'])] [['Team', 'Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

In [34]:
#方法二：
euro12.loc[euro12['Team'].isin(['England', 'Italy', 'Russia']), ['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

# 实战三：数据分组
## 探索酒类消费数据

### 步骤1 导入必要的库

In [35]:
import pandas as pd
import numpy as np

### 步骤2 从路径地址导入数据

In [12]:
filepath3 = "/home/mw/input/Pandas_exercise2020/drinks.csv"

### 步骤3 将数据框命名为drinks

In [37]:
drinks = pd.read_csv(filepath3)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### 步骤4 哪个大陆（continent）平均消耗的啤酒（beer）更多？

In [38]:
drinks[['continent', 'beer_servings']].groupby('continent').mean().sort_values(by='beer_servings',ascending=False).head(1)

           beer_servings
continent
EU            193.777778

### 步骤5 打印出每个大陆(continent)的红酒消耗(wine_servings)的描述性统计值

In [39]:
drinks[['continent', 'wine_servings']].groupby('continent').describe()

          wine_servings                                                   \
                  count        mean        std  min   25%    50%     75%
continent
AF                 53.0   16.264151  38.846419  0.0   1.0    2.0   13.00
AS                 44.0    9.068182  21.667034  0.0   0.0    1.0    8.00
EU                 45.0  142.222222  97.421738  0.0  59.0  128.0  195.00
OC                 16.0   35.625000  64.555790  0.0   1.0    8.5   23.25
SA                 12.0   62.416667  88.620189  1.0   3.0   12.0   98.50


             max
continent
AF         233.0
AS         123.0
EU         370.0
OC         212.0
SA         221.0

### 步骤6 打印出每个大陆每种酒类别的消耗平均值

In [40]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### 步骤7  打印出每个大陆每种酒类别的消耗中位数

In [41]:
drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### 步骤8 打印出每个大陆对spirit饮品消耗的平均值，最大值和最小值

- agg()函数：
    - 聚合函数，对分组后数据进行聚合，默认情况对分组后其他列进行聚合。
    - DataFrame.agg（func，axis = 0，* args，** kwargs ）
- 例：
    - 1.使用agg求出当前数据对应的统计量
        - df[['salary', 'score']].agg([np.sum])
    - 2.使用agg分别求字段的不同统计量
        - df.agg({'salary' : np.sum, 'score' : np.mean})
    - 3.使用agg方法求不同字段的不同数目统计量
        - df.agg({'salary' : np.sum, 'score' : [np.sum, np.mean]})
    - 4.在agg方法中使用自定义函数
        - df.agg({'salary' : 自定义函数}, axis=0)
- 相关资料：
    - https://blog.csdn.net/jcjic/article/details/109839096

In [42]:
drinks[['continent', 'spirit_servings']].groupby('continent').agg(['mean', 'min', 'max'])

          spirit_servings
                     mean min  max
continent
AF              16.339623   0  152
AS              60.840909   0  326
EU             132.555556   0  373
OC              58.437500   0  254
SA             114.750000  25  302

# 实战四：Apply函数
## 探索1960-2014美国犯罪数据

### 步骤1 导入必要的库

In [43]:
import pandas as pd
import numpy as np

### 步骤2 从路径地址导入数据集

In [13]:
filepath4 = "/home/mw/input/Pandas_exercise2020/US_Crime_Rates_1960_2014.csv"

### 步骤3 将数据框命名为crime

- pd.read_csv()||pd.to_csv()索引问题index:
    - to_csv()存储时不加索引
        - df.to_csv(path, index= False, header= False)
    - read_csv()读取时声明第一列是索引,第一行是索引
        - df = pd.read_csv(path, index_col= 0, header= 0)
        - header = 0 # 源文件第一行作为读取后的列索引
        - header = None # 源文件没有列索引，自动为其添加
        - index_col = None # 源文件没有行索引，自动为其添加，把原来其自己的行索引视为新的一列
        - index_col = 0  # 指定源文件第一列作为行索引
- 相关资料:
    - https://blog.csdn.net/The_Time_Runner/article/details/88353161

In [45]:
crime = pd.read_csv(filepath4, index_col = 0)
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### 步骤4 每一列(column)的数据类型是什么样的？

In [46]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 0 to 54
Data columns (total 12 columns):
Year                  55 non-null int64
Population            55 non-null int64
Total                 55 non-null int64
Violent               55 non-null int64
Property              55 non-null int64
Murder                55 non-null int64
Forcible_Rape         55 non-null int64
Robbery               55 non-null int64
Aggravated_assault    55 non-null int64
Burglary              55 non-null int64
Larceny_Theft         55 non-null int64
Vehicle_Theft         55 non-null int64
dtypes: int64(12)
memory usage: 5.6 KB

### 步骤5 将Year的数据类型转换为datetime64

In [47]:
crime.Year = pd.to_datetime(crime.Year,format='%Y')
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### 步骤6 将Year设置为数据框索引

In [48]:
crime.set_index('Year', inplace=True)
crime.head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### 步骤7 删除名为Total的列

- pandas删除某一列的方法:
    - https://blog.csdn.net/weixin_30376453/article/details/99357384?utm_term=pandas%E5%88%A0%E9%99%A4%E6%9C%80%E5%90%8E%E4%B8%80%E5%88%97&utm_medium=distribute.pc_aggpage_search_result.none-task-blog-2~all~sobaiduweb~default-0-99357384&spm=3001.4430

In [49]:
#方法一：
#del crime['Total']
#方法二：
crime.drop('Total',axis=1, inplace=True)

In [50]:
crime.head()

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### 步骤8 按照Year（每10年）对数据框进行分组求和

In [51]:
crimes = crime.resample('10AS').sum()
population = crime.resample('10AS').max() # 人口是累加的，所以需要求最大值，而不是求和
crimes['Population'] = population
crimes

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,201385000,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
1970-01-01,220099000,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
1980-01-01,248239000,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
1990-01-01,272690813,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
2000-01-01,307006550,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
2010-01-01,318857056,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080

### 步骤9 何时是美国历史上生存最危险的年代？

#### 设置数字格式，小数位数、百分号、千位分隔符:
- 设置小数位数，四舍五入
    - 法一：使用round()函数
        - df.round(decimals=3)
    - 法二：使用自定义函数 + %.2f
        - df['data'].map(lambda x : ('%.2f')%x)
        - 但是经过自定义函数处理过后的数据已经不再是float。如需后续计算的话需要先做变换;、
    - 法三：
         - df['data'].map(lambda x : format(x, '.2f'))
- 百分数：
    - 自定义函数+格式化处理
        - df['data'].map(lambda x : format(x, '.2%'))
    - 这里利用自定义函数将每个数字进行format格式处理，处理后数据从float格式转换成了带2位小数和百分号的对象;
- 设置千位分隔符:
    - 自定义函数+格式化处理
        - df['data'].map(lambda x : format(x, ','))
        - 处理后依然是对象格式。设置千位分割符请小心操作，因为对电脑来说，这些已经不再是数字了，而是数字和逗号组成的字符串，要再变成数值型就麻烦了。
- 相关资料：
    - https://zhuanlan.zhihu.com/p/30955381

In [52]:
#计算犯罪率
crime['crime_sum'] = crime.sum(axis=1) - crime['Population']
crime['crime_rate'] = ((crime['crime_sum']/crime['Population'])/100).map(lambda x : format(x, '.2%'))
crime[['crime_rate']].sort_values(by='crime_rate', ascending=False).head()

           crime_rate
Year
1980-01-01      0.12%
1981-01-01      0.12%
1991-01-01      0.12%
1990-01-01      0.12%
1987-01-01      0.11%

# 实战四：合并
## 探索虚拟姓名数据

### 步骤1 导入必要的库

In [53]:
import pandas as pd
import numpy as np

### 步骤2 按照如下的元数据内容创建数据框

In [54]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

### 步骤3 将上述的数据框分别命名为data1，data2，data3

In [55]:
data1 = pd.DataFrame(raw_data_1)
data2 = pd.DataFrame(raw_data_2)
data3 = pd.DataFrame(raw_data_3)

### 步骤4 将data1和data2两个数据框按照行的维度进行合并，命名为all_data

- Pandas数据合并与拼接的方法
    - 1. DataFrame.concat：沿着一条轴，将多个对象堆叠到一起
        - concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True):
        - pd.concat()只是单纯的把两个表拼接在一起，参数axis是关键，它用于指定合并的轴是行还是列，axis默认是0。
    - 2. DataFrame.merge：类似 vlookup
        - merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True, suffixes=('_x', '_y'), copy=True, indicator=False) 
        - 类似于关系型数据库的连接方式，可以根据一个或多个键将不同的DatFrame连接起来。该函数的典型应用场景是，针对同一个主键存在两张不同字段的表，根据主键整合到一张表里面。
    - 3. DataFrame.join：主要用于索引上的合并
        - join(self, other, on=None, how='left', lsuffix='', rsuffix='',sort=False): 
        - 其参数的意义与merge方法中的参数意义基本一样。该方法最为简单，主要用于索引上的合并。
    - 4. 其参数的意义与merge方法中的参数意义基本一样。该方法最为简单，主要用于索引上的合并。
        - Series.append(self, to_append, ignore_index=False, verify_integrity=False) 
    - 5. DataFrame.append:纵向追加DataFrame
        - DataFrame.append(self, other, ignore_index=False, verify_integrity=False, sort=False) 
- 总结：
    - join 最简单，主要用于基于索引的横向合并拼接
    - merge 最常用，主要用于基于指定列的横向合并拼接
    - concat最强大，可用于横向和纵向合并拼接
    - append，主要用于纵向追加
- 相关资料：
    - https://bigdata.51cto.com/art/202007/620338.htm

- concat函数是在pandas底下的方法，可以将数据根据不同的轴作简单的融合
    - pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,keys=None, levels=None, names=None, verify_integrity=False)
    - 参数说明:
        - objs: series，dataframe或者是panel构成的序列lsit 
        - axis： 需要合并链接的轴，0是行，1是列 
        - join：连接的方式 inner，或者outer

In [56]:
all_data = pd.concat([data1, data2], axis=0) #axis-0按照行
all_data

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

### 步骤5 将data1和data2两个数据框按照列的维度进行合并，命名为all_data_col

In [57]:
all_data_col = pd.concat([data1, data2], axis=1) #axis=1按照列
all_data_col

  subject_id first_name last_name subject_id first_name last_name
0          1       Alex  Anderson          4      Billy    Bonder
1          2        Amy  Ackerman          5      Brian     Black
2          3      Allen       Ali          6       Bran   Balwner
3          4      Alice      Aoni          7      Bryce     Brice
4          5     Ayoung   Atiches          8      Betty    Btisan

### 步骤6 打印data3

In [58]:
data3

  subject_id  test_id
0          1       51
1          2       15
2          3       15
3          4       61
4          5       16
5          7       14
6          8       15
7          9        1
8         10       61
9         11       16

### 步骤7 按照subject_id的值对all_data和data3合并

- pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)
- 参数如下：
    - left: 拼接的左侧DataFrame对象
    - right: 拼接的右侧DataFrame对象
    - on: 要加入的列或索引级别名称。 必须在左侧和右侧DataFrame对象中找到。 如果未传递且left_index和right_index为False，则DataFrame中的列的交集将被推断为连接键。
    - left_on:左侧DataFrame中的列或索引级别用作键。 可以是列名，索引级名称，也可以是长度等于DataFrame长度的数组。
    - right_on: 左侧DataFrame中的列或索引级别用作键。 可以是列名，索引级名称，也可以是长度等于DataFrame长度的数组。
    - left_index: 如果为True，则使用左侧DataFrame中的索引（行标签）作为其连接键。 对于具有MultiIndex（分层）的DataFrame，级别数必须与右侧DataFrame中的连接键数相匹配。
    - right_index: 与left_index功能相似。
- 相关资料：
    - https://blog.csdn.net/brucewong0516/article/details/82707492

In [59]:
pd.merge(all_data, data3, on='subject_id')

  subject_id first_name last_name  test_id
0          1       Alex  Anderson       51
1          2        Amy  Ackerman       15
2          3      Allen       Ali       15
3          4      Alice      Aoni       61
4          4      Billy    Bonder       61
5          5     Ayoung   Atiches       16
6          5      Brian     Black       16
7          7      Bryce     Brice       14
8          8      Betty    Btisan       15

### 步骤8 对data1和data2按照subject_id作连接（内连接）

In [60]:
pd.merge(data1, data2, how='inner', on='subject_id')

  subject_id first_name_x last_name_x first_name_y last_name_y
0          4        Alice        Aoni        Billy      Bonder
1          5       Ayoung     Atiches        Brian       Black

### 步骤9 找到data1和data2合并之后的所有匹配结果（外连接）

In [61]:
pd.merge(data1, data2, how='outer', on='subject_id')

  subject_id first_name_x last_name_x first_name_y last_name_y
0          1         Alex    Anderson          NaN         NaN
1          2          Amy    Ackerman          NaN         NaN
2          3        Allen         Ali          NaN         NaN
3          4        Alice        Aoni        Billy      Bonder
4          5       Ayoung     Atiches        Brian       Black
5          6          NaN         NaN         Bran     Balwner
6          7          NaN         NaN        Bryce       Brice
7          8          NaN         NaN        Betty      Btisan

# 实战六：统计
## 探索风速数据

### 步骤1 导入必要的库

In [62]:
import pandas as pd
import datetime

### 步骤2 从路径地址导入数据

In [14]:
filepath6 = "/home/mw/input/Pandas_exercise2020/wind.csv"

### 步骤3 将数据作存储并且设置前三列为合适的索引

- 正则表达式中\s匹配任何空白字符，包括空格、制表符、换页符
    - \f -> 匹配一个换页
    - \n -> 匹配一个换行符
    - \r -> 匹配一个回车符
    - \t -> 匹配一个制表符
    - \v -> 匹配一个垂直制表符
    - “\s+”则表示匹配任意多个上面的字符, 可以将tab和多个空格都当成一样的分隔符
- parse_dates参数：
    - boolean. True -> 解析索引
    - list of ints or names. e.g. If [1, 2, 3] -> 解析1,2,3列的值作为独立的日期列；
    - list of lists. e.g. If [[1, 3]] -> 合并1,3列作为一个日期列使用
    - dict, e.g. {‘foo’ : [1, 3]} -> 将1,3列合并，并给合并后的列起名为"foo"
- 相关资料：
    - https://blog.csdn.net/sinat_35562946/article/details/81058221
    - https://blog.csdn.net/qq_37928340/article/details/88743796 '\s+'的作用；

In [15]:
wind = pd.read_csv(filepath6, sep='\s+', parse_dates=[[0,1,2]])
wind.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### 步骤4 2061年？我们真的有这一年的数据？创建一个函数并用它去修复这个bug

In [65]:
def change_year(x):
    year = x.year - 100 if x.year > 1999 else x.year
    return datetime.date(year, x.month, x.day)

wind['Yr_Mo_Dy'] = wind['Yr_Mo_Dy'].apply(change_year).astype('datetime64[ns]')
wind.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### 步骤5 将日期设为索引，注意数据类型，应该是datetime64[ns]

- 转换日期类型方法：
    - 法一：astype('datetime64[ns]')
    - 法二：pd.to_datetime(Series)

In [66]:
wind.set_index('Yr_Mo_Dy', inplace=True)
wind.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### 步骤6 对应每一个location，一共有多少数据值缺失

In [67]:
wind.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### 步骤7 对应每一个location，一共有多少完整的数据值

In [68]:
#方法一：
wind.notnull().sum()
#方法二：
wind.shape[0] - wind.isnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### 步骤8 对于全体数据，计算风速的平均值

In [69]:
wind.mean().mean()

10.227982360836924

### 步骤9 创建一个名为loc_stats的数据框去计算并存储每个location的风速最小值，最大值，平均值和标准差

In [70]:
loc_stats = wind.agg(['min', 'max', 'mean', 'std']) #或者用np.min,np.max,np.mean,np.std
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794

### 步骤10 创建一个名为day_stats的数据框去计算并存储所有location的风速最小值，最大值，平均值和标准差

In [71]:
day_stats = wind.agg([np.min, np.max, np.mean, np.std], axis=1)
day_stats

             amin   amax       mean       std
1961-01-01   9.29  18.50  13.018182  2.808875
1961-01-02   6.50  17.54  11.336364  3.188994
1961-01-03   6.17  18.50  11.641818  3.681912
1961-01-04   1.79  11.75   6.619167  3.198126
1961-01-05   6.17  13.33  10.630000  2.445356
1961-01-06   4.42  13.21   8.240000  2.998063
1961-01-07   4.96  14.29  10.385000  3.072114
1961-01-08   5.91  16.62  10.487500  3.547237
1961-01-09   4.75  15.37   9.897500  2.905954
1961-01-10   6.54  19.50  10.477500  3.442610
1961-01-11   2.79  20.71   9.625000  4.805082
1961-01-12   9.46  19.75  13.524167  3.375046
1961-01-13   0.58   9.92   4.277500  2.916349
1961-01-14   0.50   9.04   3.975833  2.788833
1961-01-15   2.37  12.04   6.695000  3.276740
1961-01-16   4.71  16.42  10.164167  3.521277
1961-01-17   8.71  17.75  13.621667  2.874739
1961-01-18   8.79  20.79  15.348182  4.128786
1961-01-19   1.04   7.83   4.111667  2.171325
1961-01-20   1.58  11.83   5.980000  3.017220
1961-01-21   6.13  14.33   9.302500  2.546210
1961-01-22   2.17  10.88   7.582500  2.485328
1961-01-23   9.96  20.58  14.034167  3.208592
1961-01-24  14.83  25.84  20.000833  4.178121
1961-01-25   6.04  17.50  10.965000  3.215017
1961-01-26  14.25  25.25  18.324167  3.639547
1961-01-27  16.13  27.63  19.845833  3.723692
1961-01-28   8.87  20.30  13.690833  3.444483
1961-01-29  17.54  27.71  22.024545  2.744060
1961-01-30   7.92  19.25  12.490833  3.513766
...           ...    ...        ...       ...
1978-12-02   5.13  19.95  10.975833  4.003148
1978-12-03  11.58  25.75  18.025000  3.829953
1978-12-04   1.71  17.96  10.293333  4.574457
1978-12-05   8.50  22.75  15.770833  4.054258
1978-12-06  16.04  34.46  23.283333  4.983313
1978-12-07  18.16  34.59  22.910000  4.542096
1978-12-08   3.37  17.33   9.108333  3.933222
1978-12-09   6.04  18.71  12.292500  3.774715
1978-12-10  13.00  26.08  17.910000  4.651189
1978-12-11  11.63  22.83  16.812500  3.177189
1978-12-12   8.29  23.13  13.400833  4.390385
1978-12-13   8.33  24.04  16.229167  4.573168
1978-12-14   3.37  19.75   9.551667  5.145011
1978-12-15   4.00  17.16   9.205833  4.513284
1978-12-16   2.46  18.08   9.245000  5.101314
1978-12-17   0.54   9.87   4.072500  3.193451
1978-12-18   1.00  19.79   8.820000  5.912305
1978-12-19   2.33  18.25   8.685000  4.289142
1978-12-20   0.42  12.38   5.025833  3.734645
1978-12-21   3.83  20.30   9.930833  4.495655
1978-12-22   2.46  13.08   7.000833  3.237337
1978-12-23   9.50  22.21  15.613333  3.850840
1978-12-24   4.79  31.71  10.823333  7.195039
1978-12-25   0.75  13.96   5.729167  3.583263
1978-12-26   1.96  13.83   6.523333  4.304510
1978-12-27   8.08  40.08  16.708333  7.868076
1978-12-28   5.00  41.46  15.150000  9.687857
1978-12-29   8.71  29.58  14.890000  5.756836
1978-12-30   9.13  28.79  15.367500  5.540437
1978-12-31   9.59  27.29  15.402500  5.702483

[6574 rows x 4 columns]

### 步骤11 对于每一个location，计算一月份的平均风速
-  注意，1961年的1月和1962年的1月应该区别对待

In [72]:
wind['date'] = wind.index

wind['year'] = wind['date'].apply(lambda x: x.year)
wind['month'] = wind['date'].apply(lambda x: x.month)
wind['day'] = wind['date'].apply(lambda x: x.day)

january_winds = wind.query('month==1')  #query等同于wind[wind.month==1]    
january_winds.mean()

RPT        14.847325
VAL        12.914560
ROS        13.299624
KIL         7.199498
SHA        11.667734
BIR         8.054839
DUB        11.819355
CLA         9.512047
MUL         9.543208
CLO        10.053566
BEL        14.550520
MAL        18.028763
year     1969.500000
month       1.000000
day        16.000000
dtype: float64

### 步骤12 对于数据记录按照年为频率取样

- df.query（expr，inplace = False，** kwargs ）# 使用布尔表达式查询帧的列
- 参数：
    - expr：str要评估的查询字符串。你可以在环境中引用变量，在它们前面添加一个'@'字符 。@a + b
    - inplace=False：是否修改数据或返回副本
    - kwargs：dict关键字参数
    - 默认修改Python语法'&'/'and'和'|'/'or'位运算符优先级高于布尔表达式，不同于Python
    - 关键字参数parser='python'执行Python评估。
    - engine='python' 用Python本身作为后端来传递评估表达式。不建议效率低。
    - 默认实例df.index和 df.columns属性 DataFrame放在查询命名空间中，
    - 这允许您将框架的索引和列视为框架中的列。标识符index用于帧索引; 
    - 您还可以使用索引的名称在查询中标识它。

In [73]:
wind.query('month == 1 and day == 1')

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date,year,month,day
Yr_Mo_Dy,,,,,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,1961,1,1
1962-01-01,9.29,3.42,11.54,3.50,2.21,1.96,10.41,2.79,3.54,5.17,4.38,7.92,1962-01-01,1962,1,1
1963-01-01,15.59,13.62,19.79,8.38,12.25,10.00,23.45,15.71,13.59,14.37,17.58,34.13,1963-01-01,1963,1,1
1964-01-01,25.80,22.13,18.21,13.25,21.29,14.79,14.12,19.58,13.25,16.75,28.96,21.00,1964-01-01,1964,1,1
1965-01-01,9.54,11.92,9.00,4.38,6.08,5.21,10.25,6.08,5.71,8.63,12.04,17.41,1965-01-01,1965,1,1
1966-01-01,22.04,21.50,17.08,12.75,22.17,15.59,21.79,18.12,16.66,17.83,28.33,23.79,1966-01-01,1966,1,1
1967-01-01,6.46,4.46,6.50,3.21,6.67,3.79,11.38,3.83,7.71,9.08,10.67,20.91,1967-01-01,1967,1,1
1968-01-01,30.04,17.88,16.25,16.25,21.79,12.54,18.16,16.62,18.75,17.62,22.25,27.29,1968-01-01,1968,1,1
1969-01-01,6.13,1.63,5.41,1.08,2.54,1.00,8.50,2.42,4.58,6.34,9.17,16.71,1969-01-01,1969,1,1
1970-01-01,9.59,2.96,11.79,3.42,6.13,4.08,9.00,4.46,7.29,3.50,7.33,13.00,1970-01-01,1970,1,1
1971-01-01,3.71,0.79,4.71,0.17,1.42,1.04,4.63,0.75,1.54,1.08,4.21,9.54,1971-01-01,1971,1,1
1972-01-01,9.29,3.63,14.54,4.25,6.75,4.42,13.00,5.33,10.04,8.54,8.71,19.17,1972-01-01,1972,1,1
1973-01-01,16.50,15.92,14.62,7.41,8.29,11.21,13.54,7.79,10.46,10.79,13.37,9.71,1973-01-01,1973,1,1
1974-01-01,23.21,16.54,16.08,9.75,15.83,11.46,9.54,13.54,13.83,16.66,17.21,25.29,1974-01-01,1974,1,1
1975-01-01,14.04,13.54,11.29,5.46,12.58,5.58,8.12,8.96,9.29,5.17,7.71,11.63,1975-01-01,1975,1,1
1976-01-01,18.34,17.67,14.83,8.00,16.62,10.13,13.17,9.04,13.13,5.75,11.38,14.96,1976-01-01,1976,1,1
1977-01-01,20.04,11.92,20.25,9.13,9.29,8.04,10.75,5.88,9.00,9.00,14.88,25.70,1977-01-01,1977,1,1
1978-01-01,8.33,7.12,7.71,3.54,8.50,7.50,14.71,10.00,11.83,10.00,15.09,20.46,1978-01-01,1978,1,1

### 步骤13 对于数据记录按照月为频率取样

In [74]:
wind.query('day == 1')

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date,year,month,day
Yr_Mo_Dy,,,,,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,1961,1,1
1961-02-01,14.25,15.12,9.04,5.88,12.08,7.17,10.17,3.63,6.50,5.50,9.17,8.00,1961-02-01,1961,2,1
1961-03-01,12.67,13.13,11.79,6.42,9.79,8.54,10.25,13.29,NaN,12.21,20.62,NaN,1961-03-01,1961,3,1
1961-04-01,8.38,6.34,8.33,6.75,9.33,9.54,11.67,8.21,11.21,6.46,11.96,7.17,1961-04-01,1961,4,1
1961-05-01,15.87,13.88,15.37,9.79,13.46,10.17,9.96,14.04,9.75,9.92,18.63,11.12,1961-05-01,1961,5,1
1961-06-01,15.92,9.59,12.04,8.79,11.54,6.04,9.75,8.29,9.33,10.34,10.67,12.12,1961-06-01,1961,6,1
1961-07-01,7.21,6.83,7.71,4.42,8.46,4.79,6.71,6.00,5.79,7.96,6.96,8.71,1961-07-01,1961,7,1
1961-08-01,9.59,5.09,5.54,4.63,8.29,5.25,4.21,5.25,5.37,5.41,8.38,9.08,1961-08-01,1961,8,1
1961-09-01,5.58,1.13,4.96,3.04,4.25,2.25,4.63,2.71,3.67,6.00,4.79,5.41,1961-09-01,1961,9,1
1961-10-01,14.25,12.87,7.87,8.00,13.00,7.75,5.83,9.00,7.08,5.29,11.79,4.04,1961-10-01,1961,10,1
1961-11-01,13.21,13.13,14.33,8.54,12.17,10.21,13.08,12.17,10.92,13.54,20.17,20.04,1961-11-01,1961,11,1
1961-12-01,9.67,7.75,8.00,3.96,6.00,2.75,7.25,2.50,5.58,5.58,7.79,11.17,1961-12-01,1961,12,1
1962-01-01,9.29,3.42,11.54,3.50,2.21,1.96,10.41,2.79,3.54,5.17,4.38,7.92,1962-01-01,1962,1,1
1962-02-01,19.12,13.96,12.21,10.58,15.71,10.63,15.71,11.08,13.17,12.62,17.67,22.71,1962-02-01,1962,2,1
1962-03-01,8.21,4.83,9.00,4.83,6.00,2.21,7.96,1.87,4.08,3.92,4.08,5.41,1962-03-01,1962,3,1
1962-04-01,14.33,12.25,11.87,10.37,14.92,11.00,19.79,11.67,14.09,15.46,16.62,23.58,1962-04-01,1962,4,1
1962-05-01,9.62,9.54,3.58,3.33,8.75,3.75,2.25,2.58,1.67,2.37,7.29,3.25,1962-05-01,1962,5,1
1962-06-01,5.88,6.29,8.67,5.21,5.00,4.25,5.91,5.41,4.79,9.25,5.25,10.71,1962-06-01,1962,6,1
1962-07-01,8.67,4.17,6.92,6.71,8.17,5.66,11.17,9.38,8.75,11.12,10.25,17.08,1962-07-01,1962,7,1
1962-08-01,4.58,5.37,6.04,2.29,7.87,3.71,4.46,2.58,4.00,4.79,7.21,7.46,1962-08-01,1962,8,1
1962-09-01,10.00,12.08,10.96,9.25,9.29,7.62,7.41,8.75,7.67,9.62,14.58,11.92,1962-09-01,1962,9,1
1962-10-01,14.58,7.83,19.21,10.08,11.54,8.38,13.29,10.63,8.21,12.92,18.05,18.12,1962-10-01,1962,10,1
1962-11-01,16.88,13.25,16.00,8.96,13.46,11.46,10.46,10.17,10.37,13.21,14.83,15.16,1962-11-01,1962,11,1
1962-12-01,18.38,15.41,11.75,6.79,12.21,8.04,8.42,10.83,5.66,9.08,11.50,11.50,1962-12-01,1962,12,1
1963-01-01,15.59,13.62,19.79,8.38,12.25,10.00,23.45,15.71,13.59,14.37,17.58,34.13,1963-01-01,1963,1,1
1963-02-01,15.41,7.62,24.67,11.42,9.21,8.17,14.04,7.54,7.54,10.08,10.17,17.67,1963-02-01,1963,2,1
1963-03-01,16.75,19.67,17.67,8.87,19.08,15.37,16.21,14.29,11.29,9.21,19.92,19.79,1963-03-01,1963,3,1
1963-04-01,10.54,9.59,12.46,7.33,9.46,9.59,11.79,11.87,9.79,10.71,13.37,18.21,1963-04-01,1963,4,1
1963-05-01,18.79,14.17,13.59,11.63,14.17,11.96,14.46,12.46,12.87,13.96,15.29,21.62,1963-05-01,1963,5,1
1963-06-01,13.37,6.87,12.00,8.50,10.04,9.42,10.92,12.96,11.79,11.04,10.92,13.67,1963-06-01,1963,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1976-07-01,8.50,1.75,6.58,2.13,2.75,2.21,5.37,2.04,5.88,4.50,4.96,10.63,1976-07-01,1976,7,1
1976-08-01,13.00,8.38,8.63,5.83,12.92,8.25,13.00,9.42,10.58,11.34,14.21,20.25,1976-08-01,1976,8,1
1976-09-01,11.87,11.00,7.38,6.87,7.75,8.33,10.34,6.46,10.17,9.29,12.75,19.55,1976-09-01,1976,9,1
1976-10-01,10.96,6.71,10.41,4.63,7.58,5.04,5.04,5.54,6.50,3.92,6.79,5.00,1976-10-01,1976,10,1
1976-11-01,13.96,15.67,10.29,6.46,12.79,9.08,10.00,9.67,10.21,11.63,23.09,21.96,1976-11-01,1976,11,1
1976-12-01,13.46,16.42,9.21,4.54,10.75,8.67,10.88,4.83,8.79,5.91,8.83,13.67,1976-12-01,1976,12,1
1977-01-01,20.04,11.92,20.25,9.13,9.29,8.04,10.75,5.88,9.00,9.00,14.88,25.70,1977-01-01,1977,1,1
1977-02-01,11.83,9.71,11.00,4.25,8.58,8.71,6.17,5.66,8.29,7.58,11.71,16.50,1977-02-01,1977,2,1
1977-03-01,8.63,14.83,10.29,3.75,6.63,8.79,5.00,8.12,7.87,6.42,13.54,13.67,1977-03-01,1977,3,1
1977-04-01,21.67,16.00,17.33,13.59,20.83,15.96,25.62,17.62,19.41,20.67,24.37,30.09,1977-04-01,1977,4,1
1977-05-01,6.42,7.12,8.67,3.58,4.58,4.00,6.75,6.13,3.33,4.50,19.21,12.38,1977-05-01,1977,5,1
1977-06-01,7.08,5.25,9.71,2.83,2.21,3.50,5.29,1.42,2.00,0.92,5.21,5.63,1977-06-01,1977,6,1
1977-07-01,15.41,16.29,17.08,6.25,11.83,11.83,12.29,10.58,10.41,7.21,17.37,7.83,1977-07-01,1977,7,1
1977-08-01,4.33,2.96,4.42,2.33,0.96,1.08,4.96,1.87,2.33,2.04,10.50,9.83,1977-08-01,1977,8,1
1977-09-01,17.37,16.33,16.83,8.58,14.46,11.83,15.09,13.92,13.29,13.88,23.29,25.17,1977-09-01,1977,9,1
1977-10-01,16.75,15.34,12.25,9.42,16.38,11.38,18.50,13.92,14.09,14.46,22.34,29.67,1977-10-01,1977,10,1
1977-11-01,16.71,11.54,12.17,4.17,8.54,7.17,11.12,6.46,8.25,6.21,11.04,15.63,1977-11-01,1977,11,1
1977-12-01,13.37,10.92,12.42,2.37,5.79,6.13,8.96,7.38,6.29,5.71,8.54,12.42,1977-12-01,1977,12,1
1978-01-01,8.33,7.12,7.71,3.54,8.50,7.50,14.71,10.00,11.83,10.00,15.09,20.46,1978-01-01,1978,1,1
1978-02-01,27.25,24.21,18.16,17.46,27.54,18.05,20.96,25.04,20.04,17.50,27.71,21.12,1978-02-01,1978,2,1
1978-03-01,15.04,6.21,16.04,7.87,6.42,6.67,12.29,8.00,10.58,9.33,5.41,17.00,1978-03-01,1978,3,1
1978-04-01,3.42,7.58,2.71,1.38,3.46,2.08,2.67,4.75,4.83,1.67,7.33,13.67,1978-04-01,1978,4,1
1978-05-01,10.54,12.21,9.08,5.29,11.00,10.08,11.17,13.75,11.87,11.79,12.87,27.16,1978-05-01,1978,5,1
1978-06-01,10.37,11.42,6.46,6.04,11.25,7.50,6.46,5.96,7.79,5.46,5.50,10.41,1978-06-01,1978,6,1
1978-07-01,12.46,10.63,11.17,6.75,12.92,9.04,12.42,9.62,12.08,8.04,14.04,16.17,1978-07-01,1978,7,1
1978-08-01,19.33,15.09,20.17,8.83,12.62,10.41,9.33,12.33,9.50,9.92,15.75,18.00,1978-08-01,1978,8,1
1978-09-01,8.42,6.13,9.87,5.25,3.21,5.71,7.25,3.50,7.33,6.50,7.62,15.96,1978-09-01,1978,9,1
1978-10-01,9.50,6.83,10.50,3.88,6.13,4.58,4.21,6.50,6.38,6.54,10.63,14.09,1978-10-01,1978,10,1
1978-11-01,13.59,16.75,11.25,7.08,11.04,8.33,8.17,11.29,10.75,11.25,23.13,25.00,1978-11-01,1978,11,1
1978-12-01,21.29,16.29,24.04,12.79,18.21,19.29,21.54,17.21,16.71,17.83,17.75,25.70,1978-12-01,1978,12,1

# 实战七：可视化
## 探索泰坦尼克灾难数据

### 步骤1 导入必要的库

In [75]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

### 步骤2 从路径地址导入数据

In [16]:
filepath7 = "/home/mw/input/Pandas_exercise2020/train.csv"

### 步骤3 将数据框命名为titanic

In [17]:
titanic = pd.read_csv(filepath7)
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 步骤4 将PassengerId设置为索引

In [78]:
titanic.set_index('PassengerId', inplace = True)
titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 步骤5 绘制一个展示男女乘客比例的扇形图

- 相关资料：
    - https://blog.csdn.net/qq_46672746/article/details/109498411

In [79]:
import matplotlib
#设置画图字体格式
font = {'family':'MicroSoft YaHei', 'weight':'bold', 'size': 18}
matplotlib.rc('font', **font)
#设置图片大小和分辨率
plt.figure(figsize=(16, 10), dpi=80)

labels = titanic['Sex'].unique() #定义标签
sizes =  titanic['Sex'].value_counts() #每块值
colors = ['green', 'yellow'] #每块颜色定义
explode = (0.05,0) #将某一块分割出来，值越大分割出的间隙越大
patches,text1,text2 = plt.pie(sizes,
                      explode=explode,
                      labels=labels,
                      colors=colors,
                      autopct = '%3.2f%%', #数值保留固定小数位
                      shadow = False, #无阴影设置
                      startangle =90, #逆时针起始角度设置
                      pctdistance = 0.6) #数值距圆心半径倍数距离
#patches饼图的返回值，texts1饼图外label的文本，texts2饼图内部的文本
# x，y轴刻度设置一致，保证饼图为圆形
plt.axis('equal')
plt.title('Sex Proportion')
plt.legend() # 右上角显示
plt.show()

### 步骤6 绘制一个展示船票Fare, 与乘客年龄和性别的散点图

In [80]:
#方法一：
plt.scatter(titanic[titanic['Sex'] == 'male']['Age'], titanic[titanic['Sex'] == 'male']['Fare'], label='male')
plt.scatter(titanic[titanic['Sex'] == 'female']['Age'], titanic[titanic['Sex'] == 'female']['Fare'], label='female')

plt.xlabel("年龄")
plt.ylabel("船票")
plt.title("Fare x Age")
plt.show()

In [81]:
#方法二：
lm = sns.lmplot(x='Age', y='Fare', data=titanic, hue='Sex', fit_reg=False)
lm.set(title='Fare x Age')

### 步骤7 有多少人生还？

In [82]:
titanic['Survived'].sum()

342

### 步骤8 绘制一个展示船票价格的直方图

In [83]:
d = 10 #设置组距
num_bins = int((titanic['Fare'].max() - titanic['Fare'].min())//d)
plt.hist(titanic['Fare'], num_bins, density=True)  
plt.xlabel('Fare')
plt.ylabel('Frequency')
plt.title('Fare Payed Histrogram')
plt.show()

# 实战八：创建数据框
## 探索Pokemon数据

### 步骤1 导入必要的库

In [84]:
import pandas as pd

### 步骤2 创建一个数据字典

In [85]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }
raw_data

{'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
 'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
 'type': ['grass', 'fire', 'water', 'bug'],
 'hp': [45, 39, 44, 45],
 'pokedex': ['yes', 'no', 'yes', 'no']}

### 步骤3 将数据字典存为一个名叫pokemon的数据框中

In [86]:
pokemon = pd.DataFrame(raw_data)
pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### 步骤4 数据框的列排序是字母顺序，请重新修改为name, type, hp, evolution, pokedex这个顺序

In [87]:
order = ['name', 'type', 'hp', 'evolution', 'pokedex']
pokemon = pokemon[order]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### 步骤5 添加一个列place

- pandas创建新的数据列:
    - 1 直接赋值
    - 2 df.apply方法
        - 实例：添加一列温度类型：
        - 1 如果最高温度大于33度就是高温
        - 2 如果最低温度低于-10度就是低温
        - 3 否则就是常温
    - 3 df.assig方法
        - 可以同时添加多个新的列
    - 4 按条件选择分组分别赋值
        - 按条件选择数据，然后随这部分数据赋值新列
- 相关资料：
    - https://www.cnblogs.com/spp666/p/11849071.html

In [88]:
pokemon['place'] = ['xian', 'beijing', 'shanghai', 'nanjing']
pokemon

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

         name   type  hp   evolution pokedex     place
0   Bulbasaur  grass  45     Ivysaur     yes      xian
1  Charmander   fire  39  Charmeleon      no   beijing
2    Squirtle  water  44   Wartortle     yes  shanghai
3    Caterpie    bug  45     Metapod      no   nanjing

### 步骤6 查看每个列的数据类型

- type()
    - type() 函数如果你只有第一个参数则返回对象的类型，三个参数返回新的类型对象
- DataFrame.dtypes
    - 返回DataFrame中的dtypes
    - 这将返回一个Series，其中包含每列的数据类型。结果的索引是原始DataFrame的列。具有混合类型的列与objectdtype 一起存储
- 相关资料：
    - https://blog.csdn.net/sucreguan/article/details/84845061

In [89]:
pokemon.dtypes  #pokemon.info()

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

# 实战九：时间序列
## 探索Apple公司股价数据

### 步骤1 导入必要的库

In [90]:
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt

%matplotlib inline

### 步骤2 数据集地址

In [18]:
filepath9 = "/home/mw/input/Pandas_exercise2020/appl_1980_2014.csv"

### 步骤3 读取数据并存为一个名叫apple的数据框

In [92]:
apple = pd.read_csv(filepath9)
apple

            Date    Open    High     Low   Close     Volume  Adj Close
0     2014-07-08   96.27   96.80   93.92   95.35   65130000      95.35
1     2014-07-07   94.14   95.99   94.10   95.97   56305400      95.97
2     2014-07-03   93.67   94.10   93.20   94.03   22891800      94.03
3     2014-07-02   93.87   94.06   93.09   93.48   28420900      93.48
4     2014-07-01   93.52   94.07   93.13   93.52   38170200      93.52
5     2014-06-30   92.10   93.73   92.09   92.93   49482300      92.93
6     2014-06-27   90.82   92.00   90.77   91.98   64006800      91.98
7     2014-06-26   90.37   91.05   89.80   90.90   32595800      90.90
8     2014-06-25   90.21   90.70   89.65   90.36   36852200      90.36
9     2014-06-24   90.75   91.74   90.19   90.28   38988300      90.28
10    2014-06-23   91.32   91.62   90.60   90.83   43618200      90.83
11    2014-06-20   91.85   92.55   90.90   90.91  100813200      90.91
12    2014-06-19   92.29   92.30   91.34   91.86   35486400      91.86
13    2014-06-18   92.27   92.29   91.35   92.18   33493800      92.18
14    2014-06-17   92.31   92.70   91.80   92.08   29689800      92.08
15    2014-06-16   91.51   92.75   91.45   92.20   35561000      92.20
16    2014-06-13   92.20   92.44   90.88   91.28   54525000      91.28
17    2014-06-12   94.04   94.12   91.90   92.29   54749000      92.29
18    2014-06-11   94.13   94.76   93.47   93.86   45681000      93.86
19    2014-06-10   94.73   95.05   93.57   94.25   62777000      94.25
20    2014-06-09   92.70   93.88   91.75   93.70   75415000      93.70
21    2014-06-06  649.90  651.26  644.47  645.57   87484600      92.22
22    2014-06-05  646.20  649.37  642.61  647.35   75951400      92.48
23    2014-06-04  637.44  647.89  636.11  644.82   83870500      92.12
24    2014-06-03  628.46  638.74  628.25  637.54   73177300      91.08
25    2014-06-02  633.96  634.83  622.50  628.65   92337700      89.81
26    2014-05-30  637.98  644.17  628.90  633.00  141005200      90.43
27    2014-05-29  627.85  636.87  627.77  635.38   94118500      90.77
28    2014-05-28  626.02  629.83  623.78  624.01   78870400      89.14
29    2014-05-27  615.88  625.86  615.63  625.63   87216500      89.38
...          ...     ...     ...     ...     ...        ...        ...
8435  1981-01-26   32.37   32.37   32.25   32.25    6160000       0.50
8436  1981-01-23   32.87   33.00   32.75   32.75    2805600       0.51
8437  1981-01-22   32.87   33.13   32.87   32.87    8887200       0.51
8438  1981-01-21   32.50   32.75   32.50   32.50    3976000       0.51
8439  1981-01-20   32.00   32.00   31.88   31.88    7520800       0.50
8440  1981-01-19   32.87   33.00   32.87   32.87   10393600       0.51
8441  1981-01-16   31.12   31.12   31.00   31.00    3348800       0.48
8442  1981-01-15   31.25   31.50   31.25   31.25    3516800       0.49
8443  1981-01-14   30.63   30.75   30.63   30.63    3572800       0.48
8444  1981-01-13   30.63   30.63   30.50   30.50    5762400       0.48
8445  1981-01-12   31.88   31.88   31.62   31.62    5924800       0.49
8446  1981-01-09   31.88   32.00   31.88   31.88    5376000       0.50
8447  1981-01-08   30.37   30.37   30.25   30.25    9956800       0.47
8448  1981-01-07   31.00   31.00   30.88   30.88   13921600       0.48
8449  1981-01-06   32.37   32.37   32.25   32.25   11289600       0.50
8450  1981-01-05   33.87   33.87   33.75   33.75    8932000       0.53
8451  1981-01-02   34.50   34.75   34.50   34.50    5415200       0.54
8452  1980-12-31   34.25   34.25   34.13   34.13    8937600       0.53
8453  1980-12-30   35.25   35.25   35.12   35.12   17220000       0.55
8454  1980-12-29   36.00   36.13   36.00   36.00   23290400       0.56
8455  1980-12-26   35.50   35.62   35.50   35.50   13893600       0.55
8456  1980-12-24   32.50   32.63   32.50   32.50   12000800       0.51
8457  1980-12-23   30.88   31.00   30.88   30.88   11737600       0.48
8458  1980-12-22   29.63   29.75   29.63   29.63    9340800       0.46
8459  1980-12-19   28.25   28.38   28.25   28.25   12157600       0.44
8460  1980-12-18   26.63   26.75   26.63   26.63   18362400       0.41
8461  1980-12-17   25.87   26.00   25.87   25.87   21610400       0.40
8462  1980-12-16   25.37   25.37   25.25   25.25   26432000       0.39
8463  1980-12-15   27.38   27.38   27.25   27.25   43971200       0.42
8464  1980-12-12   28.75   28.87   28.75   28.75  117258400       0.45

[8465 rows x 7 columns]

### 步骤4 查看每一列的数据类型

In [93]:
apple.dtypes  #apple.info()

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

### 步骤5 将Date这个列转换为datetime类型

In [94]:
#方法一：
#apple['Date'] = apple['Date'].astype('datetime64[ns]')
#方法二：
apple['Date'] = pd.to_datetime(apple['Date'])
apple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8465 entries, 0 to 8464
Data columns (total 7 columns):
Date         8465 non-null datetime64[ns]
Open         8465 non-null float64
High         8465 non-null float64
Low          8465 non-null float64
Close        8465 non-null float64
Volume       8465 non-null int64
Adj Close    8465 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 463.0 KB

### 步骤6 将Date设置为索引

In [95]:
apple.set_index('Date', inplace=True)
apple.head()

             Open   High    Low  Close    Volume  Adj Close
Date
2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### 步骤7 有重复的日期吗？

- duplicated()方法判断
    - 1. 判断dataframe数据某列是否重复
        - df.xxx.duplicated()
    - 2. 判断dataframe数据整行是否重复
        - df.duplicated()
    - 3. 判断dataframe数据多列数据是否重复(多列组合查)
        - df.duplicated(subset = ['xxx1','xxx2'])
- drop_duplicats()方法去重（列）
    - df.drop_duplicats(subset = ['price','cnt'],keep='last',inplace=True)
- 相关资料：
    - https://www.cnblogs.com/trotl/p/11876292.html

In [96]:
#方法一：
#apple.index.is_unqiue 这个报错：'DatetimeIndex' object has no attribute 'is_unqiue'
#方法二：
apple[apple.index.duplicated()]

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Adj Close]
Index: []

### 步骤8 将index设置为升序

- pandas通过索引进行排序:
    - DataFrame.sort_index(ascending=True, inplace = True)

In [97]:
apple.sort_index(ascending=True, inplace=True)
apple.head()

             Open   High    Low  Close     Volume  Adj Close
Date
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41

### 步骤9 找到每个月的最后一个交易日(business day)

- reshape函数：
    - 用途：频率转换和重新采样时间的便捷方法
        - 对象必须具有类似日期时间的索引（DatetimeIndex，PeriodIndex或TimedeltaIndex）
        - 或传递datetime值到on或level关键字
    - 返回：Resampler object 
- df.resample(rule,how=None,axis=0,fill_method=None,closed=None,label=None,convention=start, kind=None, loffset=None,limit=None, base=0, on=None, level=None)
    - rule:“M”，“A”，“Q”，“BM”，“BA”，“BQ”，和“W”
    - 1. 频率转换：
        - s.resample('3S').asfreq()
    - 2. 上采样Upsample:
        - s.resample('30S').asfreq()[0:5]
        - s.resample('30S').pad()[0:5]  #用前面值填充后面Na
        - s.resample('30S').bfill()[0:5]#用后面值填充前面Na
    - 3. 下采样:
        - s.resample('2min').asfreq()
        - 对于下采样，closed可以设置为“左”或“右”以指定间隔的哪一端关闭：
            - s.resample('5Min', closed='left').sum()
            - s.resample('5Min', closed='right').sum()
    - 4.参数：label和loffset
        - 参数label和loffset用于处理结果标签。label指定结果是使用间隔的开头还是结尾标记。loffset对输出标签执行时间调整。
        - s.resample('5Min').sum()
        - s.resample('5Min',label='left').sum()
        - s.resample('5Min',label='left',loffset='1s').sum()
    - 5. 参数：label和closed
        - ts2.resample('M',label='right', closed='left').max() #label='right'索引为本月的最后一日即1月31日
    - 6. axis/kind参数：
        - axis=0或1允许您重新采样指定；kind='timestamp'或'period'，将结果索引转换为时间戳/时间范围表示。默认保留输入
- 重采样对象方法:
    - sum，mean，std，sem， max，min，median，first，last，ohlc
    - apply传递自定义函数
    - agg:
- 相关资料：
    - https://blog.csdn.net/tcy23456/article/details/86582835

In [98]:
apple_month = apple.resample('BM').mean()
apple_month.head()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
1980-12-31,30.481538,30.567692,30.443077,30.443077,2.586252e+07,0.473077
1981-01-30,31.754762,31.826667,31.654762,31.654762,7.249867e+06,0.493810
1981-02-27,26.480000,26.572105,26.407895,26.407895,4.231832e+06,0.411053
1981-03-31,24.937727,25.016818,24.836364,24.836364,7.962691e+06,0.387727
1981-04-30,27.286667,27.368095,27.227143,27.227143,6.392000e+06,0.423333

### 步骤10 数据集中最早的日期和最晚的日期相差多少天？

In [99]:
(apple.index.max() - apple.index.min()).days

12261

### 步骤11 在数据中一共有多少个月？

In [100]:
len(apple_month)

404

### 步骤12 按照时间顺序可视化Adj Close值

In [101]:
#方法一：
import matplotlib.pyplot as plt
import matplotlib

#设置画图字体格式
font = {'family':'MicroSoft YaHei', 'weight':'bold', 'size': 18}
matplotlib.rc('font', **font)

#设置图片大小和分辨率
plt.figure(figsize=(16, 6), dpi=80)

#绘制折线图
x = apple.index
y1 = apple['Adj Close']
plt.plot(x, y1, label='Adj Close', color='orange', linestyle='-')


#设置x,y轴标签
plt.xlabel("日期")
plt.ylabel("Adj Close")
plt.title("Apple Stock")

#绘制网格
plt.grid(alpha=0.4, linestyle='--')#alpha表示透明度

#添加图例(设置图例时，必须在绘制时，加上label字段,见上plt.plot()函数)
'''upper right;upper left;
   lower left;lower right;
   best; right; center
   center left; center right
   lower center; upper center
'''
plt.legend(loc="upper center")

#展示图
plt.show()

/opt/conda/lib/python3.6/site-packages/pandas/plotting/_converter.py:129: FutureWarning: Using an implicitly registered datetime converter for a matplotlib plotting method. The converter was registered by pandas on import. Future versions of pandas will require you to explicitly register matplotlib converters.

To register the converters:
	>>> from pandas.plotting import register_matplotlib_converters
	>>> register_matplotlib_converters()
  warnings.warn(msg, FutureWarning)

In [102]:
#方法二：
apple['Adj Close'].plot(title = 'Apple Stock').get_figure().set_size_inches(9,5)

# 实战十：删除数据
## 探索Iris纸鸢花数据

### 步骤1 导入必要的库

In [103]:
import pandas as pd

### 步骤2 数据集地址

In [20]:
filepath10 = '/home/mw/input/Pandas_exercise2020/iris.data'

### 步骤3 将数据集存成变量iris

In [21]:
iris = pd.read_csv(filepath10, sep=',', header=None)
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
5    5.4  3.9  1.7  0.4     Iris-setosa
6    4.6  3.4  1.4  0.3     Iris-setosa
7    5.0  3.4  1.5  0.2     Iris-setosa
8    4.4  2.9  1.4  0.2     Iris-setosa
9    4.9  3.1  1.5  0.1     Iris-setosa
10   5.4  3.7  1.5  0.2     Iris-setosa
11   4.8  3.4  1.6  0.2     Iris-setosa
12   4.8  3.0  1.4  0.1     Iris-setosa
13   4.3  3.0  1.1  0.1     Iris-setosa
14   5.8  4.0  1.2  0.2     Iris-setosa
15   5.7  4.4  1.5  0.4     Iris-setosa
16   5.4  3.9  1.3  0.4     Iris-setosa
17   5.1  3.5  1.4  0.3     Iris-setosa
18   5.7  3.8  1.7  0.3     Iris-setosa
19   5.1  3.8  1.5  0.3     Iris-setosa
20   5.4  3.4  1.7  0.2     Iris-setosa
21   5.1  3.7  1.5  0.4     Iris-setosa
22   4.6  3.6  1.0  0.2     Iris-setosa
23   5.1  3.3  1.7  0.5     Iris-setosa
24   4.8  3.4  1.9  0.2     Iris-setosa
25   5.0  3.0  1.6  0.2     Iris-setosa
26   5.0  3.4  1.6  0.4     Iris-setosa
27   5.2  3.5  1.5  0.2     Iris-setosa
28   5.2  3.4  1.4  0.2     Iris-setosa
29   4.7  3.2  1.6  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
120  6.9  3.2  5.7  2.3  Iris-virginica
121  5.6  2.8  4.9  2.0  Iris-virginica
122  7.7  2.8  6.7  2.0  Iris-virginica
123  6.3  2.7  4.9  1.8  Iris-virginica
124  6.7  3.3  5.7  2.1  Iris-virginica
125  7.2  3.2  6.0  1.8  Iris-virginica
126  6.2  2.8  4.8  1.8  Iris-virginica
127  6.1  3.0  4.9  1.8  Iris-virginica
128  6.4  2.8  5.6  2.1  Iris-virginica
129  7.2  3.0  5.8  1.6  Iris-virginica
130  7.4  2.8  6.1  1.9  Iris-virginica
131  7.9  3.8  6.4  2.0  Iris-virginica
132  6.4  2.8  5.6  2.2  Iris-virginica
133  6.3  2.8  5.1  1.5  Iris-virginica
134  6.1  2.6  5.6  1.4  Iris-virginica
135  7.7  3.0  6.1  2.3  Iris-virginica
136  6.3  3.4  5.6  2.4  Iris-virginica
137  6.4  3.1  5.5  1.8  Iris-virginica
138  6.0  3.0  4.8  1.8  Iris-virginica
139  6.9  3.1  5.4  2.1  Iris-virginica
140  6.7  3.1  5.6  2.4  Iris-virginica
141  6.9  3.1  5.1  2.3  Iris-virginica
142  5.8  2.7  5.1  1.9  Iris-virginica
143  6.8  3.2  5.9  2.3  Iris-virginica
144  6.7  3.3  5.7  2.5  Iris-virginica
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

### 步骤4 创建数据框的列名称('sepal_length','sepal_width', 'petal_length', 'petal_width', 'class')

In [22]:
iris.columns = ['sepal_length','sepal_width', 'petal_length', 'petal_width', 'class']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### 步骤5 数据框中有缺失值吗？

In [107]:
iris.isnull().values.any()

False

### 步骤6 将列petal_length的第10到19行设置为缺失值

In [108]:
import numpy as np
iris.loc[9:18,'petal_length'] = np.nan
iris[8:20]

    sepal_length  sepal_width  petal_length  petal_width        class
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           NaN          0.1  Iris-setosa
10           5.4          3.7           NaN          0.2  Iris-setosa
11           4.8          3.4           NaN          0.2  Iris-setosa
12           4.8          3.0           NaN          0.1  Iris-setosa
13           4.3          3.0           NaN          0.1  Iris-setosa
14           5.8          4.0           NaN          0.2  Iris-setosa
15           5.7          4.4           NaN          0.4  Iris-setosa
16           5.4          3.9           NaN          0.4  Iris-setosa
17           5.1          3.5           NaN          0.3  Iris-setosa
18           5.7          3.8           NaN          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa

### 步骤7 将缺失值全部替换为1.0

In [109]:
iris.fillna(value=1.0, inplace=True)
iris[8:20]

    sepal_length  sepal_width  petal_length  petal_width        class
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.0          0.1  Iris-setosa
10           5.4          3.7           1.0          0.2  Iris-setosa
11           4.8          3.4           1.0          0.2  Iris-setosa
12           4.8          3.0           1.0          0.1  Iris-setosa
13           4.3          3.0           1.0          0.1  Iris-setosa
14           5.8          4.0           1.0          0.2  Iris-setosa
15           5.7          4.4           1.0          0.4  Iris-setosa
16           5.4          3.9           1.0          0.4  Iris-setosa
17           5.1          3.5           1.0          0.3  Iris-setosa
18           5.7          3.8           1.0          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa

### 步骤8 删除列class

In [110]:
del iris['class']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

### 步骤9 将数据框前三行设置为缺失值

In [111]:
iris.loc[:3] = np.NaN
iris

     sepal_length  sepal_width  petal_length  petal_width
0             NaN          NaN           NaN          NaN
1             NaN          NaN           NaN          NaN
2             NaN          NaN           NaN          NaN
3             NaN          NaN           NaN          NaN
4             5.0          3.6           1.4          0.2
5             5.4          3.9           1.7          0.4
6             4.6          3.4           1.4          0.3
7             5.0          3.4           1.5          0.2
8             4.4          2.9           1.4          0.2
9             4.9          3.1           1.0          0.1
10            5.4          3.7           1.0          0.2
11            4.8          3.4           1.0          0.2
12            4.8          3.0           1.0          0.1
13            4.3          3.0           1.0          0.1
14            5.8          4.0           1.0          0.2
15            5.7          4.4           1.0          0.4
16            5.4          3.9           1.0          0.4
17            5.1          3.5           1.0          0.3
18            5.7          3.8           1.0          0.3
19            5.1          3.8           1.5          0.3
20            5.4          3.4           1.7          0.2
21            5.1          3.7           1.5          0.4
22            4.6          3.6           1.0          0.2
23            5.1          3.3           1.7          0.5
24            4.8          3.4           1.9          0.2
25            5.0          3.0           1.6          0.2
26            5.0          3.4           1.6          0.4
27            5.2          3.5           1.5          0.2
28            5.2          3.4           1.4          0.2
29            4.7          3.2           1.6          0.2
..            ...          ...           ...          ...
120           6.9          3.2           5.7          2.3
121           5.6          2.8           4.9          2.0
122           7.7          2.8           6.7          2.0
123           6.3          2.7           4.9          1.8
124           6.7          3.3           5.7          2.1
125           7.2          3.2           6.0          1.8
126           6.2          2.8           4.8          1.8
127           6.1          3.0           4.9          1.8
128           6.4          2.8           5.6          2.1
129           7.2          3.0           5.8          1.6
130           7.4          2.8           6.1          1.9
131           7.9          3.8           6.4          2.0
132           6.4          2.8           5.6          2.2
133           6.3          2.8           5.1          1.5
134           6.1          2.6           5.6          1.4
135           7.7          3.0           6.1          2.3
136           6.3          3.4           5.6          2.4
137           6.4          3.1           5.5          1.8
138           6.0          3.0           4.8          1.8
139           6.9          3.1           5.4          2.1
140           6.7          3.1           5.6          2.4
141           6.9          3.1           5.1          2.3
142           5.8          2.7           5.1          1.9
143           6.8          3.2           5.9          2.3
144           6.7          3.3           5.7          2.5
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

### 步骤10 删除有缺失值的行

- 删除所有值缺失的行 
    - df.dropna()
- 删除所有有缺失值的列 
    - df.dropna(axis=1) 
    - df.dropna(axis='columns') 
- 删除至少有两个非缺失值的行 
    - df.dropna(thresh=2)
- 删除所有值缺失的行
    - df.dropna(how='all')
- 指定判断缺失值的列范围
    - df.dropna(subset=['name', 'born'])
- 使删除和的结果生效
    - df.dropna(inplace=True)
- 指定列的缺失值删除
    - df.toy.dropna()

- dropna( axis=0, how=‘any’, thresh=None, subset=None, inplace=False)
    - axis:
        - axis参数确定是否删除包含缺失值的行或列
        - axis=0或axis='index’删除含有缺失值的行，
        - axis=1或axis='columns’删除含有缺失值的列，
    - how参数:
        - 当我们至少有一个NA时，确定是否从DataFrame中删除行或列
        - how='all’或者how=‘any’。
        - how='all’时表示删除全是缺失值的行（列）
        - how='any’时表示删除只要含有缺失值的行（列）
- 相关资料：
    - https://blog.csdn.net/happy_wealthy/article/details/108576944

In [112]:
iris.dropna(how='any', inplace=True)
iris

     sepal_length  sepal_width  petal_length  petal_width
4             5.0          3.6           1.4          0.2
5             5.4          3.9           1.7          0.4
6             4.6          3.4           1.4          0.3
7             5.0          3.4           1.5          0.2
8             4.4          2.9           1.4          0.2
9             4.9          3.1           1.0          0.1
10            5.4          3.7           1.0          0.2
11            4.8          3.4           1.0          0.2
12            4.8          3.0           1.0          0.1
13            4.3          3.0           1.0          0.1
14            5.8          4.0           1.0          0.2
15            5.7          4.4           1.0          0.4
16            5.4          3.9           1.0          0.4
17            5.1          3.5           1.0          0.3
18            5.7          3.8           1.0          0.3
19            5.1          3.8           1.5          0.3
20            5.4          3.4           1.7          0.2
21            5.1          3.7           1.5          0.4
22            4.6          3.6           1.0          0.2
23            5.1          3.3           1.7          0.5
24            4.8          3.4           1.9          0.2
25            5.0          3.0           1.6          0.2
26            5.0          3.4           1.6          0.4
27            5.2          3.5           1.5          0.2
28            5.2          3.4           1.4          0.2
29            4.7          3.2           1.6          0.2
30            4.8          3.1           1.6          0.2
31            5.4          3.4           1.5          0.4
32            5.2          4.1           1.5          0.1
33            5.5          4.2           1.4          0.2
..            ...          ...           ...          ...
120           6.9          3.2           5.7          2.3
121           5.6          2.8           4.9          2.0
122           7.7          2.8           6.7          2.0
123           6.3          2.7           4.9          1.8
124           6.7          3.3           5.7          2.1
125           7.2          3.2           6.0          1.8
126           6.2          2.8           4.8          1.8
127           6.1          3.0           4.9          1.8
128           6.4          2.8           5.6          2.1
129           7.2          3.0           5.8          1.6
130           7.4          2.8           6.1          1.9
131           7.9          3.8           6.4          2.0
132           6.4          2.8           5.6          2.2
133           6.3          2.8           5.1          1.5
134           6.1          2.6           5.6          1.4
135           7.7          3.0           6.1          2.3
136           6.3          3.4           5.6          2.4
137           6.4          3.1           5.5          1.8
138           6.0          3.0           4.8          1.8
139           6.9          3.1           5.4          2.1
140           6.7          3.1           5.6          2.4
141           6.9          3.1           5.1          2.3
142           5.8          2.7           5.1          1.9
143           6.8          3.2           5.9          2.3
144           6.7          3.3           5.7          2.5
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[146 rows x 4 columns]

### 步骤11 重新设置索引

- reset_index用来重置索引，因为有时候对dataframe做处理后索引可能是乱的。
    - drop参数：
        - drop=True就是把原来的索引index列去掉，重置index。
        - drop=False就是保留原来的索引，添加重置的index。
        - 两者的区别就是有没有把原来的index去掉。
    - inplace参数：
        - inplace=False（默认）表示原数组不变，对数据进行修改之后结果给新的数组。
        - inplace=True表示直接在原数组上对数据进行修改。

In [113]:
iris.reset_index(drop=True, inplace=True) #加上drop参数，原有索引就不会成为新的列
iris

     sepal_length  sepal_width  petal_length  petal_width
0             5.0          3.6           1.4          0.2
1             5.4          3.9           1.7          0.4
2             4.6          3.4           1.4          0.3
3             5.0          3.4           1.5          0.2
4             4.4          2.9           1.4          0.2
5             4.9          3.1           1.0          0.1
6             5.4          3.7           1.0          0.2
7             4.8          3.4           1.0          0.2
8             4.8          3.0           1.0          0.1
9             4.3          3.0           1.0          0.1
10            5.8          4.0           1.0          0.2
11            5.7          4.4           1.0          0.4
12            5.4          3.9           1.0          0.4
13            5.1          3.5           1.0          0.3
14            5.7          3.8           1.0          0.3
15            5.1          3.8           1.5          0.3
16            5.4          3.4           1.7          0.2
17            5.1          3.7           1.5          0.4
18            4.6          3.6           1.0          0.2
19            5.1          3.3           1.7          0.5
20            4.8          3.4           1.9          0.2
21            5.0          3.0           1.6          0.2
22            5.0          3.4           1.6          0.4
23            5.2          3.5           1.5          0.2
24            5.2          3.4           1.4          0.2
25            4.7          3.2           1.6          0.2
26            4.8          3.1           1.6          0.2
27            5.4          3.4           1.5          0.4
28            5.2          4.1           1.5          0.1
29            5.5          4.2           1.4          0.2
..            ...          ...           ...          ...
116           6.9          3.2           5.7          2.3
117           5.6          2.8           4.9          2.0
118           7.7          2.8           6.7          2.0
119           6.3          2.7           4.9          1.8
120           6.7          3.3           5.7          2.1
121           7.2          3.2           6.0          1.8
122           6.2          2.8           4.8          1.8
123           6.1          3.0           4.9          1.8
124           6.4          2.8           5.6          2.1
125           7.2          3.0           5.8          1.6
126           7.4          2.8           6.1          1.9
127           7.9          3.8           6.4          2.0
128           6.4          2.8           5.6          2.2
129           6.3          2.8           5.1          1.5
130           6.1          2.6           5.6          1.4
131           7.7          3.0           6.1          2.3
132           6.3          3.4           5.6          2.4
133           6.4          3.1           5.5          1.8
134           6.0          3.0           4.8          1.8
135           6.9          3.1           5.4          2.1
136           6.7          3.1           5.6          2.4
137           6.9          3.1           5.1          2.3
138           5.8          2.7           5.1          1.9
139           6.8          3.2           5.9          2.3
140           6.7          3.3           5.7          2.5
141           6.7          3.0           5.2          2.3
142           6.3          2.5           5.0          1.9
143           6.5          3.0           5.2          2.0
144           6.2          3.4           5.4          2.3
145           5.9          3.0           5.1          1.8

[146 rows x 4 columns]

# ✍作业

## STEP1:泰坦尼克号生存数据特征处理

- 本作业只需按照要求处理原始数据，将最终处理完成的数据保存到数据框中，然后提交就可；

### 1. 合并训练集与测试集

　　在进行特征工程的时候，我们不仅需要对训练数据进行处理，还需要同时将测试数据同训练数据一起处理，使得二者具有相同的数据类型和数据分布。

In [24]:
import pandas as pd
train = pd.read_csv('/home/mw/input/titanic/train.csv')
test = pd.read_csv('/home/mw/input/titanic/test.csv')
df = pd.concat([train, test], axis=0)     # 建议使用concat，append将在未来版本被移除
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('max_colwidth', 100)
train_and_test.shape

(1309, 12)

### 2. 缺失值处理

对Embarked直接用众数填充；
对Fare用均值填充；
对Age，建立模型预测；

#### 2.1 填充Embarked字段

In [ ]:
# 2.1 对Embarked直接用众数填充
df.fillna(value={'Embarked': df['Embarked'].mode()[0]}, inplace=True)

#### 2.2 填充船票Fare字段

In [ ]:
# 2.2 填充船票Fare字段
df.fillna(value={'Fare': df['Fare'].mean()}, inplace=True)

#### 2.3 填充年龄Age字段

　　为尽可能用多的特征去预测Age的值，先对Cabin、Embarked、Name、Sex、Ticket、Pclass等特征进行处理，模型预测见后；

### 3. 不同特征字段的数据处理

#### 3.1 先对Embarked、Sex以及Pclass等用dummy处理

In [ ]:
# 3.1 先对Embarked、Sex以及Pclass等用dummy处理
df = pd.get_dummies(df, columns=['Embarked', 'Sex', 'Pclass'])

#### 3.2 票价分级处理
　　我们可以尝试将Fare分桶处理,使用qcut函数。qcut是根据这些值的频率来选择箱子的均匀间隔，每个箱子中含有的数的数量是相同的;

In [ ]:
# 3.2 票价分级处理
df['qcut_fare'], bins = pd.qcut(df['Fare'], 5, retbins=True)
df['qcut_fare_2fact'] = pd.factorize(df['qcut_fare'])[0]
tmp_fare_lv = pd.get_dummies(df['qcut_fare_2fact']).rename(columns=lambda x: 'Fare_lv_' + str(x))
df = pd.concat([df, tmp_fare_lv], axis=1)
df.drop(['qcut_fare', 'qcut_fare_2fact'], axis=1, inplace=True)

#### 3.3 名字处理：提取名字的称呼
　　对名字Name进行处理，提取称呼，如Mr, Mrs, Miss等；

In [ ]:
# 3.3 名字处理
df['Title'] = df['Name'].apply(lambda x: x.split(',')[1].split('.')[0].strip())

- 对头衔进行oner-hot编码

In [ ]:
# 3.3.1 对头衔进行oner-hot编码
# tmp_title_lv = pd.crosstab(df.Title, df.Sex)    # 查看头衔人群稀有度
# print(tmp_title_lv.T)
# 提取称呼
df['Title'] = df['Name'].apply(lambda x : x.split(',')[1].split('.')[0].strip())
titleDict = {
    "Capt": "Officer",
    "Col": "Officer",
    "Major": "Officer",
    "Jonkheer": "Royalty",
    "Don": "Royalty",
    "Sir": "Royalty",
    "Dr": "Officer",
    "Rev":  "Officer",
    "the Countess": "Royalty",
    "Dona": "Royalty",
    "Mme": "Mrs",
    "Mlle": "Miss",
    "Ms": "Mrs",
    "Mr": "Mr",
    "Mrs": "Mrs",
    "Miss": "Miss",
    "Master": "Master",
    "Lady": "Royalty"
}
df['Title'] = df['Title'].map(titleDict)
# one_hot编码
df['Title'] = pd.factorize(df['Title'])[0]
title_dummies_df = pd.get_dummies(df['Title'], prefix=df[['Title']].columns[0])
df = pd.concat([df, title_dummies_df], axis=1)

- 添加一列：提取名字长度

In [ ]:
# 3.3.2 添加一列：提取名字长度
df['len_name'] = df['Name'].apply(len)

#### 3.4 Cabin处理
　　Cabin缺失值过多，将其分为有无两类，进行编码，如果缺失，即为0，否则为1;

In [ ]:
# 3.4 Cabin处理 　Cabin缺失值过多，将其分为有无两类，进行编码，如果缺失，即为0，否则为1
df.loc[df.Cabin.isnull(), 'Cabin'] = 'nan'
df['Cabin'] = df.Cabin.apply(lambda x: 0 if x == 'nan' else 1)
# print(df['Cabin'].value_counts())

#### 3.5 Ticket处理

　　Ticket有字母和数字之分，对于不同的字母，可能在很大程度上就意味着船舱等级或者不同船舱的位置，也会对Survived产生一定的影响，所以我们将Ticket中的字母分开，为数字的部分则分为一类。

In [ ]:
# 3.5 Ticket处理
df['Ticket_latter'] = df['Ticket'].apply(lambda x: x.split(' ')[0].strip())
df['Ticket_latter'] = df['Ticket_latter'].apply(lambda x: 'Latter' if x.isnumeric() == False else x)
df['Ticket_latter'] = pd.factorize(df['Ticket_latter'])[0]

### 4. 利用随机森林预测Age缺失值

统一采用RandomForestRegressor(n_estimators=1000, n_jobs=-1)；

In [ ]:
# 4. 利用随机森林预测Age缺失值

missing_age = df.drop(['PassengerId', 'Survived', 'Name', 'Ticket'], axis=1)  # 去除字符串类型的字段
missing_age_train = missing_age[missing_age['Age'].notnull()]
missing_age_test = missing_age[missing_age['Age'].isnull()]

X_train = missing_age_train.iloc[:, 1:]
y_train = missing_age_train.iloc[:, 0]
X_test = missing_age_test.iloc[:, 1:]

rfr = RandomForestRegressor(n_estimators=1000, n_jobs=-1)
rfr.fit(X_train, y_train)
y_predict = rfr.predict(X_test)
df.loc[df['Age'].isnull(), 'Age'] = y_predict

### 5. 各特征与Survived的相关系数排序

In [ ]:
# 5. 各特征与Survived的相关系数排序
df.corr()['Survived'].abs().sort_values(ascending=False)

### 6. 小结

- 特征工程这一章主要做了以下工作：
 - 合并训练集和测试集
   - 为了使二者具有相同的数据类型和数据分布；
 - 缺失值处理：
   - Embarked:众数填充；
   - Fare:平均值填充；
   - Age:随机森林预测填充；
 - 各特征字段的数据处理：
   - Embarked,Sex,Pclass: 直接dummy编码；
   - Fare: 先分桶处理，再dummy编码；
   - Name: 先提取称呼，再对称呼进行人群分类，最后dummy处理；
   - cabin：缺失值较多，根据是否缺失划分类别，缺失为0，否则为1；
   - Ticket:只保留其中字母，并对字母进行数字转换；
 - 随机森林建模预测Age缺失值；
 - 对各特征与生存与否进行了相关系数大小排序；

## STEP2: 保存特征处理后的数据，统一将所有浮点型数据保留整数部分，最后将结果保存为 csv 文件

In [ ]:
## 为了便于最后数据结果统一，这里把删除预测的age列
del df['Age']

In [38]:
df = df.round(0)

In [39]:
train_and_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 31 columns):
PassengerId      1309 non-null int64
Survived         891 non-null float64
Name             1309 non-null object
SibSp            1309 non-null int64
Parch            1309 non-null int64
Ticket           1309 non-null object
Fare             1309 non-null float64
Cabin            1309 non-null int64
Embarked__C      1309 non-null uint8
Embarked__Q      1309 non-null uint8
Embarked__S      1309 non-null uint8
Sex__female      1309 non-null uint8
Sex__male        1309 non-null uint8
Pclass__1        1309 non-null uint8
Pclass__2        1309 non-null uint8
Pclass__3        1309 non-null uint8
Fare_bin_id      1309 non-null int64
Fare_0           1309 non-null uint8
Fare_1           1309 non-null uint8
Fare_2           1309 non-null uint8
Fare_3           1309 non-null uint8
Fare_4           1309 non-null uint8
Title            1309 non-null int64
Title_0          1309 non-null uint8
Title_1          1309 non-null uint8
Title_2          1309 non-null uint8
Title_3          1309 non-null uint8
Title_4          1309 non-null uint8
Title_5          1309 non-null uint8
Name_length      1309 non-null int64
Ticket_Letter    1309 non-null int64
dtypes: float64(2), int64(8), object(2), uint8(19)
memory usage: 157.2+ KB

### **为了简化最终提交的行数，所以这里只需要保留Title这一个字段，并设置列名为answer，最后保留id(数据行数，从0开始记)和answer**
⚠️⚠️⚠️

In [ ]:
df2 = df[['Title']]
df2.columns = ['answer']
df2.dropna(axis=0, how='any', inplace=True)
df2['id'] = range(len(df2))
df2 = df2[['id', 'answer']]
df

In [41]:
# 保存文件到本地
df.to_csv('answer_5.csv', index=False, encoding='utf-8-sig') # 代码自动补全的快捷键是 tab；运行完成后，左侧文件树刷新下，可以找到这份文件


## STEP3: 提交 csv 文件，获取分数结果
现在你的答案文件已经准备完毕了，怎么提交得到评分呢？

1、拷贝提交 token

去活动[提交页面](https://www.heywhale.com/home/competition/6154198bc270e400182b11f9/submit)，找到对应关卡，看到了你的 token 嘛？

拷贝到下方 cell 里（替换掉 XXXXXXX），右上角保证Kernel类型为Python3哈；

记得：每个关卡的 token 不一样。

2、找到你的答案文件路径

右侧文件树，刷新，在 project 下找到答案文件，右键点击可复制路径。

路径为 /home/mw/project/answer_5.csv，你可以再仔细查看一下哦

In [43]:
# 运行这个 cell 前记得一定要保证右上角 kernel为 Python 3 的噢
# 下载提交工具
!wget -nv -O heywhale_submit https://cdn.kesci.com/submit_tool/v4/heywhale_submit&&chmod +x heywhale_submit

# 运行提交工具
# 把下方 XXXXXXX 替换为你的 Token，submit_file 为要提交的文件名路径
# 文件名路径去左侧文件树下，刷新，找到对应的 csv 文件，右键复制路径
!./heywhale_submit -token XXXXXXX -file /home/mw/project/answer_5.csv

wget: /opt/conda/lib/libcrypto.so.1.0.0: no version information available (required by wget)
wget: /opt/conda/lib/libssl.so.1.0.0: no version information available (required by wget)
wget: /opt/conda/lib/libssl.so.1.0.0: no version information available (required by wget)
2021-11-23 04:33:24 URL:https://cdn.kesci.com/submit_tool/v4/heywhale_submit [7357446/7357446] -> "heywhale_submit" [1]
Heywhale Submit Tool 4.0.0

> 已验证Token
> 提交文件 /home/mw/project/answer_5.csv (7.88 KiB), Target Qiniu
> 已上传 100 %
> 文件已上传
> 服务器响应: 200 提交成功，请等待评审完成
> 提交完成

运行成功、显示提交完成后，即可去[提交页面](https://www.heywhale.com/home/competition/6154198bc270e400182b11f9/submit)-- 看成绩。满分即可进入下一关。


![Image Name](https://cdn.kesci.com/upload/image/r30ctf3aw.png?imageView2/0/w/960/h/960)


没有成功也不怕，看下报错信息，对照排查下，改完重新提交咯。

祝好运 🐳