# ğŸ”–äºŒã€Pandasæ•°æ®æ¡†æ“ä½œåŠæ•°æ®æå–

In [2]:
#å¯¼åŒ…
import pandas as pd
import numpy as np

# 1. æ•°æ®æ¡†è¡Œåˆ—æ“ä½œ

## 1.1 åˆ›å»ºDataFrame

In [2]:
data = {"col1":['Python', 'C', 'Java', 'R', 'SQL', 'PHP', 'Python', 'Java', 'C', 'Python'],
       "col2":[6, 2, 6, 4, 2, 5, 8, 10, 3, 4], 
       "col3":[4, 2, 6, 2, 1, 2, 2, 3, 3, 6]}
df = pd.DataFrame(data)
df

     col1  col2  col3
0  Python     6     4
1       C     2     2
2    Java     6     6
3       R     4     2
4     SQL     2     1
5     PHP     5     2
6  Python     8     2
7    Java    10     3
8       C     3     3
9  Python     4     6

##  1.2 è®¾ç½®ç´¢å¼•

In [3]:
df['new_index'] = range(1,11)
df.set_index('new_index')

             col1  col2  col3
new_index
1          Python     6     4
2               C     2     2
3            Java     6     6
4               R     4     2
5             SQL     2     1
6             PHP     5     2
7          Python     8     2
8            Java    10     3
9               C     3     3
10         Python     4     6

## 1.3 é‡ç½®ç´¢å¼•(è¡Œå·)

In [4]:
df.reset_index(drop = True, inplace = True) # drop = Trueï¼šåŸæœ‰ç´¢å¼•å°±ä¸ä¼šæˆä¸ºæ–°çš„åˆ—
df

     col1  col2  col3  new_index
0  Python     6     4          1
1       C     2     2          2
2    Java     6     6          3
3       R     4     2          4
4     SQL     2     1          5
5     PHP     5     2          6
6  Python     8     2          7
7    Java    10     3          8
8       C     3     3          9
9  Python     4     6         10

## 1.4 æ›´æ”¹åˆ—å

In [5]:
#æ–¹æ³•ä¸€ï¼šç›´æ¥æ³•
df.columns = ['grammer', 'score', 'cycle', 'id']
 
#æ–¹æ³•äºŒï¼š(ä½¿ç”¨rename()å‡½æ•°ï¼šä¿®æ”¹æŒ‡å®šä¿®æ”¹æŸåˆ—æˆ–æŸå‡ åˆ—åå­—)
df.rename(columns={'col1':'grammer', 'col2':'score', 'col3':'cycle','new_index':'id'}, inplace=True)

In [6]:
df.head()

  grammer  score  cycle  id
0  Python      6      4   1
1       C      2      2   2
2    Java      6      6   3
3       R      4      2   4
4     SQL      2      1   5

## 1.5 è°ƒæ•´åˆ—é¡ºåº

### (1) å°†æ‰€æœ‰åˆ—å€’åºæ’åˆ—

In [7]:
#æ–¹æ³•ä¸€ï¼š
df.iloc[:, ::-1]
 
#æ–¹æ³•äºŒ
df.iloc[:, [-1,-2,-3,-4]]

   id  cycle  score grammer
0   1      4      6  Python
1   2      2      2       C
2   3      6      6    Java
3   4      2      4       R
4   5      1      2     SQL
5   6      2      5     PHP
6   7      2      8  Python
7   8      3     10    Java
8   9      3      3       C
9  10      6      4  Python

### (2) äº¤æ¢ä¸¤åˆ—ä½ç½®

In [8]:
temp = df['grammer']
df.drop(labels=['grammer'], axis=1, inplace=True)
df.insert(1, 'grammer', temp)
df

   score grammer  cycle  id
0      6  Python      4   1
1      2       C      2   2
2      6    Java      6   3
3      4       R      2   4
4      2     SQL      1   5
5      5     PHP      2   6
6      8  Python      2   7
7     10    Java      3   8
8      3       C      3   9
9      4  Python      6  10

### (3) æ›´æ”¹å…¨éƒ¨åˆ—é¡ºåº

In [9]:
order = df.columns[[0, 3, 1, 2]] # æˆ–è€…order = ['xx', 'xx',...] å…·ä½“åˆ—å
df = df[order]
df

   score  id grammer  cycle
0      6   1  Python      4
1      2   2       C      2
2      6   3    Java      6
3      4   4       R      2
4      2   5     SQL      1
5      5   6     PHP      2
6      8   7  Python      2
7     10   8    Java      3
8      3   9       C      3
9      4  10  Python      6

## 1.6 åˆ é™¤è¡Œåˆ—

### (1) åˆ é™¤idè¿™ä¸€åˆ—

In [10]:
# æ³•ä¸€ï¼š
del df['id']
# æ³•äºŒï¼š
df['id'] = range(1,11)
df.drop('id',axis=1, inplace=True) #columns=['xxx']

### (2) æ·»åŠ ä¸€è¡Œgrammer='css'æ•°æ®ï¼Œå¹¶åˆ é™¤è¯¥è¡Œ

In [11]:
df.loc[len(df)] = [2, 'css', 3]

In [12]:
index = df[df['grammer'] == 'css'].index[0]
df.drop(labels=[index], inplace=True)

## 1.7 å°†grammeråˆ—å’Œscoreåˆ—åˆå¹¶æˆæ–°çš„ä¸€åˆ—

In [13]:
df['new_col'] = df['grammer'] + df['score'].map(str) # scoreä¸ºintç±»å‹ï¼Œéœ€è½¬æ¢ä¸ºå­—ç¬¦ä¸²ç±»å‹ï¼›
df

   score grammer  cycle  new_col
0      6  Python      4  Python6
1      2       C      2       C2
2      6    Java      6    Java6
3      4       R      2       R4
4      2     SQL      1     SQL2
5      5     PHP      2     PHP5
6      8  Python      2  Python8
7     10    Java      3   Java10
8      3       C      3       C3
9      4  Python      6  Python4

## 1.8 å°†æ•°æ®æŒ‰è¡Œçš„æ–¹å¼é€†åºè¾“å‡º

In [14]:
df.iloc[::-1, :]
# [::-1]è¡¨ç¤ºæ­¥é•¿ä¸º-1, ä»åå¾€å‰å€’åºè¾“å‡º

   score grammer  cycle  new_col
9      4  Python      6  Python4
8      3       C      3       C3
7     10    Java      3   Java10
6      8  Python      2  Python8
5      5     PHP      2     PHP5
4      2     SQL      1     SQL2
3      4       R      2       R4
2      6    Java      6    Java6
1      2       C      2       C2
0      6  Python      4  Python6

# 2. æ•°æ®è¯»å–ä¸ä¿å­˜

## 2.1 è¯»å–excelæ–‡ä»¶

In [9]:
excel = pd.read_excel('/home/mw/input/pandas1206855/pandas120.xlsx')
excel.head()

           createTime education   salary
0 2020-03-16 11:30:18        æœ¬ç§‘  20k-35k
1 2020-03-16 10:58:48        æœ¬ç§‘  20k-40k
2 2020-03-16 10:46:39        ä¸é™  20k-35k
3 2020-03-16 10:45:44        æœ¬ç§‘  13k-20k
4 2020-03-16 10:20:41        æœ¬ç§‘  10k-20k

## 2.2 è¯»å–csvæ–‡ä»¶

In [10]:
csv = pd.read_csv('/home/mw/input/pandas_exercise/pandas_exercise/exercise_data/drinks.csv')
csv.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

## 2.3 è¯»å–tsvæ–‡ä»¶

In [11]:
tsv = pd.read_csv('/home/mw/input/pandas_exercise/pandas_exercise/exercise_data/chipotle.tsv', sep = '\t')
tsv.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

## 2.4 dataframeä¿å­˜ä¸ºcsvæ–‡ä»¶

In [18]:
df.to_csv('course.csv')

## 2.5 è¯»å–æ—¶è®¾ç½®æ˜¾ç¤ºè¡Œåˆ—çš„å‚æ•°ï¼špd.set_option()

### (1) æ˜¾ç¤ºæ‰€æœ‰åˆ—

In [19]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_columns', 5) #æœ€å¤šæ˜¾ç¤º5åˆ—

### (2) æ˜¾ç¤ºæ‰€æœ‰è¡Œ

In [20]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_rows', 10)#æœ€å¤šæ˜¾ç¤º10è¡Œ

### (3) æ˜¾ç¤ºå°æ•°ä½æ•°

In [21]:
pd.set_option('display.float_format',lambda x: '%.2f'%x) #ä¸¤ä½

### (4) æ˜¾ç¤ºå®½åº¦

In [22]:
pd.set_option('display.width', 100)

### (5) è®¾ç½®å°æ•°ç‚¹åçš„ä½æ•°

In [23]:
pd.set_option('precision', 1)

### (6) æ˜¯å¦æ¢è¡Œæ˜¾ç¤º

In [24]:
pd.set_option('expand_frame_repr', False)
# Trueå°±æ˜¯å¯ä»¥æ¢è¡Œæ˜¾ç¤ºã€‚è®¾ç½®æˆFalseçš„æ—¶å€™ä¸å…è®¸æ¢è¡Œ

# 3.  æå–æŒ‡å®šè¡Œåˆ—çš„æ•°æ®

In [31]:
# è¯»å–pandas120æ•°æ®æ–‡ä»¶
df = pd.read_excel('/home/mw/input/pandas1206855/pandas120.xlsx')
df.head()

           createTime education   salary
0 2020-03-16 11:30:18        æœ¬ç§‘  20k-35k
1 2020-03-16 10:58:48        æœ¬ç§‘  20k-40k
2 2020-03-16 10:46:39        ä¸é™  20k-35k
3 2020-03-16 10:45:44        æœ¬ç§‘  13k-20k
4 2020-03-16 10:20:41        æœ¬ç§‘  10k-20k

## 3.1 æå–ç¬¬32è¡Œæ•°æ®

In [32]:
# æ–¹æ³•ä¸€ï¼š
df.loc[32]
# æ–¹æ³•äºŒï¼š
df.iloc[32,:] # df.iloc[32] ä¹Ÿå¯

createTime    2020-03-16 10:07:25
education                      ç¡•å£«
salary                    15k-30k
Name: 32, dtype: object

## 3.2 æå–educationè¿™ä¸€åˆ—æ•°æ®

In [33]:
df['education']

0      æœ¬ç§‘
1      æœ¬ç§‘
2      ä¸é™
3      æœ¬ç§‘
4      æœ¬ç§‘
       ..
130    æœ¬ç§‘
131    ç¡•å£«
132    æœ¬ç§‘
133    æœ¬ç§‘
134    æœ¬ç§‘
Name: education, Length: 135, dtype: object

## 3.3 æå–åä¸¤åˆ—(education, salary)æ•°æ®

In [34]:
# æ–¹æ³•ä¸€ï¼š
df[['education', 'salary']]
# æ–¹æ³•äºŒï¼š
df.iloc[:, 1:]

    education   salary
0          æœ¬ç§‘  20k-35k
1          æœ¬ç§‘  20k-40k
2          ä¸é™  20k-35k
3          æœ¬ç§‘  13k-20k
4          æœ¬ç§‘  10k-20k
..        ...      ...
130        æœ¬ç§‘  10k-18k
131        ç¡•å£«  25k-50k
132        æœ¬ç§‘  20k-40k
133        æœ¬ç§‘  15k-23k
134        æœ¬ç§‘  20k-40k

[135 rows x 2 columns]

## 3.4 æå–ç¬¬ä¸€åˆ—ä½ç½®åœ¨1,10,15ä¸Šçš„å€¼

In [35]:
# æ–¹æ³•ä¸€ï¼š
df.iloc[[1,10,15], 0]
# æ–¹æ³•äºŒï¼š
df['createTime'][[1,10,15]]
# æ–¹æ³•ä¸‰ï¼š
df['createTime'].take([1,10,15])

1    2020-03-16 10:58:48
10   2020-03-16 10:34:19
15   2020-03-16 10:52:14
Name: createTime, dtype: datetime64[ns]

# 4. æå–é‡å¤å€¼æ‰€åœ¨çš„è¡Œåˆ—æ•°æ®

## 4.1 åˆ¤æ–­createTimeåˆ—æ•°æ®æ˜¯å¦é‡å¤

In [36]:
df.createTime.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
130    False
131    False
132    False
133     True
134     True
Name: createTime, Length: 135, dtype: bool

## 4.2 åˆ¤æ–­æ•°æ®æ¡†ä¸­æ‰€æœ‰è¡Œæ˜¯å¦å­˜åœ¨é‡å¤

In [37]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
130    False
131    False
132    False
133    False
134     True
Length: 135, dtype: bool

## 4.3 åˆ¤æ–­educationåˆ—å’Œsalaryåˆ—æ•°æ®æ˜¯å¦é‡å¤(å¤šåˆ—ç»„åˆæŸ¥è¯¢)

In [38]:
df.duplicated(subset = ['education','salary'])

0      False
1      False
2      False
3      False
4      False
       ...
130     True
131    False
132     True
133    False
134     True
Length: 135, dtype: bool

## 4.4 åˆ¤æ–­é‡å¤ç´¢å¼•æ‰€åœ¨è¡Œåˆ—æ•°æ®

In [39]:
df.index.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

# 5. æŒ‰æŒ‡å®šæ¡ä»¶æå–å…ƒç´ å€¼

è¿™é‡Œä¸ºäº†è¿è¡Œåç»­ä»£ç ï¼Œé€šè¿‡randomå‡½æ•°éšæœºæ·»åŠ ä¸€åˆ—æ•°æ®ï¼›

In [40]:
import random
df['value'] = [random.randint(1,100) for i in range(len(df))]
df.head()

           createTime education   salary  value
0 2020-03-16 11:30:18        æœ¬ç§‘  20k-35k      2
1 2020-03-16 10:58:48        æœ¬ç§‘  20k-40k     86
2 2020-03-16 10:46:39        ä¸é™  20k-35k     19
3 2020-03-16 10:45:44        æœ¬ç§‘  13k-20k     85
4 2020-03-16 10:20:41        æœ¬ç§‘  10k-20k     58

## 5.1 æå–valueåˆ—å…ƒç´ å€¼å¤§äº90çš„è¡Œ

In [41]:
df[df['value'] > 90]

             createTime education   salary  value
8   2020-03-16 09:25:48        ä¸é™    6k-8k    100
11  2020-03-16 09:30:40        æœ¬ç§‘   8k-12k     94
15  2020-03-16 10:52:14        ç¡•å£«  10k-15k     96
38  2020-03-16 11:01:58        ä¸é™  25k-35k    100
51  2020-03-16 11:32:46        æœ¬ç§‘  10k-20k     97
..                  ...       ...      ...    ...
59  2020-03-16 10:46:50        æœ¬ç§‘  15k-30k     94
79  2020-03-16 11:30:10        æœ¬ç§‘  25k-40k     96
102 2020-03-16 10:21:52        å¤§ä¸“  10k-20k     91
103 2020-03-16 11:21:24        æœ¬ç§‘  12k-20k     94
121 2020-03-16 11:33:13        æœ¬ç§‘    4k-6k     93

[12 rows x 4 columns]

## 5.2 æå–valueåˆ—å…ƒç´ å€¼å¤§äº60å°äº70çš„è¡Œ

In [42]:
df[(df['value'] > 60) & (df['value'] < 70)]

             createTime education   salary  value
5   2020-03-16 10:33:48        æœ¬ç§‘  10k-18k     67
6   2020-03-16 10:11:54        ç¡•å£«  16k-30k     66
22  2020-03-16 11:30:15        æœ¬ç§‘  15k-25k     62
43  2020-03-16 11:16:49        æœ¬ç§‘  20k-40k     63
44  2020-03-16 10:59:08        æœ¬ç§‘   8k-16k     69
..                  ...       ...      ...    ...
100 2020-03-16 11:10:42        æœ¬ç§‘  15k-25k     64
104 2020-03-16 10:26:12        å¤§ä¸“    4k-6k     66
111 2020-03-16 10:52:45        æœ¬ç§‘  12k-20k     67
120 2020-03-16 10:09:18        æœ¬ç§‘   8k-15k     68
134 2020-03-16 11:19:38        æœ¬ç§‘  20k-40k     63

[15 rows x 4 columns]

## 5.3 æå–æŸåˆ—æœ€å¤§å€¼æ‰€åœ¨çš„è¡Œ

In [43]:
df[df['value'] == df['value'].max()]

            createTime education   salary  value
8  2020-03-16 09:25:48        ä¸é™    6k-8k    100
38 2020-03-16 11:01:58        ä¸é™  25k-35k    100

## 5.4 æå–valueå’Œvalue1ä¹‹å’Œå¤§äº150çš„æœ€åä¸‰è¡Œ

In [44]:
# å†éšæœºç”Ÿæˆä¸€åˆ—1åˆ°100å†…çš„éšæœºæ•°
df['value1'] = [random.randint(1,100) for i in range(135)]

In [45]:
df[(df['value'] + df['value1']) > 150].tail(3)

             createTime education   salary  value  value1
116 2020-03-16 11:30:02        æœ¬ç§‘  15k-25k     86      69
117 2020-03-16 11:19:36        æœ¬ç§‘  20k-40k     89      82
132 2020-03-16 10:48:32        æœ¬ç§‘  20k-40k     88      93

# 6. æå–å«ç©ºå€¼çš„è¡Œåˆ—

ä¸ºäº†æ¼”ç¤ºä»£ç ï¼Œè¿™é‡Œè®¾ç½®ä¸€äº›å€¼;

In [46]:
df.loc[[2,10,45,87], 'value'] = np.nan
df.loc[[19,30,55,97,114], 'value1'] = np.nan
df.loc[[24,52,67,120], 'education'] = 111
df.loc[[8,26,84], 'salary'] = '--'

## 6.1 æå–valueåˆ—å«æœ‰ç©ºå€¼çš„è¡Œ

In [47]:
df[df['value'].isnull()]

            createTime education   salary  value  value1
2  2020-03-16 10:46:39        ä¸é™  20k-35k    nan   45.00
10 2020-03-16 10:34:19        æœ¬ç§‘  15k-25k    nan   28.00
45 2020-03-16 11:01:58        ä¸é™  25k-35k    nan   21.00
87 2020-03-16 10:26:50        æœ¬ç§‘  10k-20k    nan   69.00

## 6.2 æå–æ¯åˆ—ç¼ºå¤±å€¼çš„å…·ä½“è¡Œæ•°

In [48]:
for columname in df.columns: #éå†æ¯ä¸€åˆ— 
    if df[columname].count()  != len(df): #åˆ¤æ–­ç¼ºå¤±è¡Œæ¡ä»¶ï¼šæ‰€åœ¨åˆ—çš„å€¼æ•°ç­‰äºæ€»æ•°æ®çš„é•¿åº¦
        #å°†å­˜åœ¨ç¼ºå¤±å€¼çš„è¡Œçš„ç´¢å¼•è½¬æ¢æˆåˆ—è¡¨å‚¨å­˜
        loc = df[columname][df[columname].isnull().values == True].index.tolist()
        print('åˆ—åï¼š"{}",ç¬¬{}è¡Œä½ç½®æœ‰ç¼ºå¤±å€¼'.format(columname, loc))

åˆ—åï¼š"value",ç¬¬[2, 10, 45, 87]è¡Œä½ç½®æœ‰ç¼ºå¤±å€¼
åˆ—åï¼š"value1",ç¬¬[19, 30, 55, 97, 114]è¡Œä½ç½®æœ‰ç¼ºå¤±å€¼

# 7. æå–æŸåˆ—ä¸æ˜¯æ•°å€¼æˆ–(åŒ…å«)å­—ç¬¦ä¸²çš„è¡Œ

## 7.1 æå–educationåˆ—æ•°å€¼ç±»å‹ä¸æ˜¯å­—ç¬¦ä¸²çš„è¡Œ

In [49]:
temp = pd.DataFrame()
for i in range(len(df)):
    if type(df['education'][i]) != str: #df['xxx'][i]æˆ–å†™æˆdf.iloc[i,j]
        temp = temp.append(df.loc[i])
temp

             createTime  education   salary  value  value1
24  2020-03-16 11:01:22     111.00  15k-20k  51.00   52.00
52  2020-03-16 11:33:00     111.00  13k-20k  98.00   18.00
67  2020-03-16 10:43:47     111.00  10k-18k   6.00   98.00
120 2020-03-16 10:09:18     111.00   8k-15k  68.00   31.00

## 7.2 æå–salaryåˆ—åŒ…å«å­—ç¬¦ä¸²('--')çš„è¡Œ

In [50]:
# æ–¹æ³•ä¸€ï¼šisin()
df[df['salary'].isin(['--'])]
# æ–¹æ³•äºŒï¼šcontains()
df[df["salary"].str.contains("--")]

            createTime education salary  value  value1
8  2020-03-16 09:25:48        ä¸é™     -- 100.00   25.00
26 2020-03-16 11:04:45        æœ¬ç§‘     --  32.00   83.00
84 2020-03-16 10:43:46        æœ¬ç§‘     --  40.00   18.00

## 7.3 æå–educationåˆ—å€¼ä¸º'ç¡•å£«'çš„è¡Œ

In [51]:
# æ–¹æ³•ä¸€ï¼š
df[df['education'] == 'ç¡•å£«']
 
# æ–¹æ³•äºŒï¼š
results = df['education'].str.contains('ç¡•å£«')
results.fillna(value=False, inplace=True)
df[results]

             createTime education   salary  value  value1
6   2020-03-16 10:11:54        ç¡•å£«  16k-30k  66.00    1.00
15  2020-03-16 10:52:14        ç¡•å£«  10k-15k  96.00   44.00
30  2020-03-16 10:43:58        ç¡•å£«  15k-30k  74.00     nan
32  2020-03-16 10:07:25        ç¡•å£«  15k-30k  39.00   82.00
91  2020-03-16 10:27:10        ç¡•å£«  12k-16k  25.00    2.00
127 2020-03-16 09:44:05        ç¡•å£«  10k-15k  87.00   46.00
131 2020-03-16 09:54:47        ç¡•å£«  25k-50k  52.00   55.00

# 8. å…¶ä»–æå–æ“ä½œ

## 8.1 æå–å­¦å†ä¸ºæœ¬ç§‘å’Œç¡•å£«çš„æ•°æ®ï¼Œåªæ˜¾ç¤ºå­¦å†å’Œè–ªèµ„ä¸¤åˆ—

In [52]:
# æ–¹æ³•ä¸€ï¼šisin()
df[df['education'].isin(['æœ¬ç§‘', 'ç¡•å£«'])] [['education', 'salary']]

# æ–¹æ³•äºŒï¼šlocæå–
df.loc[df['education'].isin(['æœ¬ç§‘', 'ç¡•å£«']), ['education', 'salary']]

    education   salary
0          æœ¬ç§‘  20k-35k
1          æœ¬ç§‘  20k-40k
3          æœ¬ç§‘  13k-20k
4          æœ¬ç§‘  10k-20k
5          æœ¬ç§‘  10k-18k
..        ...      ...
130        æœ¬ç§‘  10k-18k
131        ç¡•å£«  25k-50k
132        æœ¬ç§‘  20k-40k
133        æœ¬ç§‘  15k-23k
134        æœ¬ç§‘  20k-40k

[122 rows x 2 columns]

## 8.2 æå–salaryåˆ—ä»¥'25k'å¼€å¤´çš„è¡Œ

In [53]:
# æ–¹æ³•ä¸€ï¼šmatchå‡½æ•°
df[df['salary'].str.match('25k')]

# æ–¹æ³•äºŒï¼šstartswithå‡½æ•°
df[df['salary'].str.startswith('25k')]

             createTime education   salary  value  value1
14  2020-03-15 12:14:45        æœ¬ç§‘  25k-35k  52.00   20.00
16  2020-03-16 10:36:57        æœ¬ç§‘  25k-50k  81.00   35.00
33  2020-03-16 11:04:00        æœ¬ç§‘  25k-35k  38.00   10.00
38  2020-03-16 11:01:58        ä¸é™  25k-35k 100.00   11.00
39  2020-03-16 11:35:36        æœ¬ç§‘  25k-35k  53.00   84.00
45  2020-03-16 11:01:58        ä¸é™  25k-35k    nan   21.00
79  2020-03-16 11:30:10        æœ¬ç§‘  25k-40k  96.00   52.00
83  2020-03-16 10:43:49        æœ¬ç§‘  25k-35k  85.00   89.00
93  2020-03-16 10:44:41        æœ¬ç§‘  25k-35k  30.00   47.00
131 2020-03-16 09:54:47        ç¡•å£«  25k-50k  52.00   55.00

## 8.3 æå–valueåˆ—ä¸­ä¸åœ¨value1åˆ—å‡ºç°çš„æ•°å­—

In [54]:
df['value'][~df['value'].isin(df['value1'])] #~å–å

5      67.00
8     100.00
11     94.00
12     70.00
15     96.00
       ...
119     9.00
127    87.00
128    49.00
133    49.00
134    63.00
Name: value, Length: 36, dtype: float64

## 8.4 æå–valueåˆ—å’Œvalue1åˆ—å‡ºç°é¢‘ç‡æœ€é«˜çš„æ•°å­—

In [55]:
# å…ˆå°†ä¸¤åˆ—ä½¿ç”¨append()æŒ‰è¡Œåˆå¹¶ï¼Œå†ç”¨è®¡æ•°å‡½æ•°ï¼š
temp = df['value'].append(df['value1'])
temp.value_counts(ascending=False)#ä¸åŠ indexï¼Œè¿”å›çš„æ˜¯ä¸€ä¸ªSeries
temp.value_counts(ascending=False).index[:5] #è¿”å›ä¸€ä¸ªæ•°ç»„

Float64Index([52.0, 85.0, 26.0, 69.0, 78.0], dtype='float64')

## 8.5 æå–valueåˆ—ä¸­å¯ä»¥æ•´é™¤10çš„æ•°å­—ä½ç½®

In [56]:
#æ–¹æ³•ä¸€ï¼š
df[df['value'] % 10 == 0].index
#æ–¹æ³•äºŒï¼šnp.argwhere
np.argwhere(np.array(df['value'] % 10 == 0))

array([[  8],
       [ 12],
       [ 13],
       [ 28],
       [ 35],
       [ 37],
       [ 38],
       [ 50],
       [ 68],
       [ 84],
       [ 93],
       [101],
       [113],
       [125]])

# âœä½œä¸š

## STEP1: æŒ‰ç…§ä¸‹åˆ—è¦æ±‚å®Œæˆå„é¢˜ç›®

In [66]:
# ç”±äºéšæœºæ•°çš„å­˜åœ¨ä¼šå½±å“æœ€ç»ˆæäº¤çš„æ–‡ä»¶ï¼Œæ‰€ä»¥è¿™é‡Œé‡æ–°è¯»å–æ•°æ®
# è¯»å–pandas120æ•°æ®æ–‡ä»¶
df = pd.read_excel('/home/mw/input/pandas1206855/pandas120.xlsx')
df.head()

           createTime education   salary
0 2020-03-16 11:30:18        æœ¬ç§‘  20k-35k
1 2020-03-16 10:58:48        æœ¬ç§‘  20k-40k
2 2020-03-16 10:46:39        ä¸é™  20k-35k
3 2020-03-16 10:45:44        æœ¬ç§‘  13k-20k
4 2020-03-16 10:20:41        æœ¬ç§‘  10k-20k

### 1. æå–å­¦å†ä¸ºæœ¬ç§‘ï¼Œå·¥èµ„åœ¨25k-35kçš„æ•°æ®

In [ ]:
df1 =

### 2. æå–salaryåˆ—ä¸­ä»¥'40k'ç»“å°¾çš„æ•°æ®

In [ ]:
df2 =

### 3. æå–è–ªèµ„åŒºé—´ä¸­æœ€ä½è–ªèµ„ä¸æœ€é«˜è–ªèµ„çš„å¹³å‡å€¼å¤§äº30kçš„è¡Œï¼Œåªéœ€æå–åŸå§‹å­—æ®µ('createTime', 'education', 'salary')å³å¯

In [ ]:
df3 =

### 4. å°†ä»¥ä¸Šä¸‰é¢˜æå–å‡ºæ¥çš„è¡ŒæŒ‰ç…§ç›¸åŒåˆ—è¿›è¡Œåˆå¹¶ï¼Œæ±‡æ€»åˆ°ä¸€ä¸ªæ•°æ®æ¡†ä¸­ï¼›

In [ ]:
answer_2 = pd.concat([df1, df2, df3], axis=0)
answer_2

### 5. å°†ä¸‰åˆ—æ•°æ®åˆå¹¶æˆä¸€åˆ—ï¼Œå¹¶è®¾ç½®åˆ—åä¸ºanswerï¼Œæœ€åä¿ç•™id(æ•°æ®è¡Œæ•°ã€answer)

In [ ]:
data = pd.concat([answer_2.iloc[:,0],answer_2.iloc[:,1],answer_2.iloc[:,2]])
df = pd.DataFrame(data, columns=['answer'])
df['id'] = range(len(df))
df = df[['id', 'answer']]
df

##  STEP2: å°†ç»“æœä¿å­˜ä¸º csv æ–‡ä»¶

In [72]:
# ä¿å­˜æ–‡ä»¶åˆ°æœ¬åœ°
df.to_csv('answer_2.csv', index=False, encoding='utf-8-sig')#ä»£ç è‡ªåŠ¨è¡¥å…¨çš„å¿«æ·é”®æ˜¯ tabï¼›è¿è¡Œå®Œæˆåï¼Œå·¦ä¾§æ–‡ä»¶æ ‘åˆ·æ–°ä¸‹ï¼Œå¯ä»¥æ‰¾åˆ°è¿™ä»½æ–‡ä»¶

## STEP3: æäº¤ csv æ–‡ä»¶ï¼Œè·å–åˆ†æ•°ç»“æœ
ç°åœ¨ä½ çš„ç­”æ¡ˆæ–‡ä»¶å·²ç»å‡†å¤‡å®Œæ¯•äº†ï¼Œæ€ä¹ˆæäº¤å¾—åˆ°è¯„åˆ†å‘¢ï¼Ÿ

1ã€æ‹·è´æäº¤ token

å»æ´»åŠ¨[æäº¤é¡µé¢](https://www.heywhale.com/home/competition/6154198bc270e400182b11f9/submit)ï¼Œæ‰¾åˆ°å¯¹åº”å…³å¡ï¼Œçœ‹åˆ°äº†ä½ çš„ token å˜›ï¼Ÿ

æ‹·è´åˆ°ä¸‹æ–¹ cell é‡Œï¼ˆæ›¿æ¢æ‰ XXXXXXXï¼‰ï¼Œå³ä¸Šè§’ä¿è¯Kernelç±»å‹ä¸ºPython3å“ˆï¼›

è®°å¾—ï¼šæ¯ä¸ªå…³å¡çš„ token ä¸ä¸€æ ·ã€‚

2ã€æ‰¾åˆ°ä½ çš„ç­”æ¡ˆæ–‡ä»¶è·¯å¾„

å³ä¾§æ–‡ä»¶æ ‘ï¼Œåˆ·æ–°ï¼Œåœ¨ project ä¸‹æ‰¾åˆ°ç­”æ¡ˆæ–‡ä»¶ï¼Œå³é”®ç‚¹å‡»å¯å¤åˆ¶è·¯å¾„ã€‚

è·¯å¾„ä¸º /home/mw/project/answer_2.csvï¼Œä½ å¯ä»¥å†ä»”ç»†æŸ¥çœ‹ä¸€ä¸‹å“¦

âš ï¸ç­”æ¡ˆä¸º 90 rows Ã— 2 columns


![Image Name](https://cdn.kesci.com/upload/image/r4ic8nw6zd.png?imageView2/0/w/960/h/960)

In [73]:
# è¿è¡Œè¿™ä¸ª cell å‰è®°å¾—ä¸€å®šè¦ä¿è¯å³ä¸Šè§’ kernelä¸º Python 3 çš„å™¢
# ä¸‹è½½æäº¤å·¥å…·
!wget -nv -O heywhale_submit https://cdn.kesci.com/submit_tool/v4/heywhale_submit&&chmod +x heywhale_submit

# è¿è¡Œæäº¤å·¥å…·
# æŠŠä¸‹æ–¹ XXXXXXX æ›¿æ¢ä¸ºä½ çš„ Tokenï¼Œsubmit_file ä¸ºè¦æäº¤çš„æ–‡ä»¶åè·¯å¾„
# æ–‡ä»¶åè·¯å¾„å»å·¦ä¾§æ–‡ä»¶æ ‘ä¸‹ï¼Œåˆ·æ–°ï¼Œæ‰¾åˆ°å¯¹åº”çš„ csv æ–‡ä»¶ï¼Œå³é”®å¤åˆ¶è·¯å¾„
!./heywhale_submit -token XXXXXXX -file /home/mw/project/answer_2.csv

wget: /opt/conda/lib/libcrypto.so.1.0.0: no version information available (required by wget)
wget: /opt/conda/lib/libssl.so.1.0.0: no version information available (required by wget)
wget: /opt/conda/lib/libssl.so.1.0.0: no version information available (required by wget)
2021-11-18 09:55:08 URL:https://cdn.kesci.com/submit_tool/v4/heywhale_submit [7357446/7357446] -> "heywhale_submit" [1]
Heywhale Submit Tool 4.0.0

> å·²éªŒè¯Token
> æäº¤æ–‡ä»¶ /home/mw/project/answer_2.csv (1.29 KiB), Target Qiniu
> å·²ä¸Šä¼  100 %
> æ–‡ä»¶å·²ä¸Šä¼
> æœåŠ¡å™¨å“åº”: 200 æäº¤æˆåŠŸï¼Œè¯·ç­‰å¾…è¯„å®¡å®Œæˆ
> æäº¤å®Œæˆ

è¿è¡ŒæˆåŠŸã€æ˜¾ç¤ºæäº¤å®Œæˆåï¼Œå³å¯å»[æäº¤é¡µé¢](https://www.heywhale.com/home/competition/6154198bc270e400182b11f9/submit) -- çœ‹æˆç»©ã€‚æ»¡åˆ†å³å¯è¿›å…¥ä¸‹ä¸€å…³ã€‚


![Image Name](https://cdn.kesci.com/upload/image/r2rie8zano.png?imageView2/0/w/960/h/960)


æ²¡æœ‰æˆåŠŸä¹Ÿä¸æ€•ï¼Œçœ‹ä¸‹æŠ¥é”™ä¿¡æ¯ï¼Œå¯¹ç…§æ’æŸ¥ä¸‹ï¼Œæ”¹å®Œé‡æ–°æäº¤å’¯ã€‚

ç¥å¥½è¿ ğŸ³